<section class="programs programs--section">
    <div class="programs__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Программы музея</h2>
        </div>
        <div class="programs__type-filter">
            <div class="programs__tabs-wrap">
                <fieldset class="filter filter--tabs-status">
                    <legend class="visually-hidden">Тип музейной программы</legend>
                    <div class="form__field">
                        <input type="radio" id="all" name="program-type" checked>
                        <label for="all">Все</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="educational" name="program-type">
                        <label for="educational">Образовательные программы</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="for-exhibitions" name="program-type">
                        <label for="for-exhibitions">Программы к выставкам</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="outreach" name="program-type">
                        <label for="outreach">Выездные программы</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="programs__content">
        <ul class="programs__list">
            <li class="programs__item program program--pushkincard">
                <p class="programs__item-type"><span>Музейно-краеведческий квест</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../programs/image1-767@1x.webp 1x,
            ../programs/image1-767@2x.webp 2x,
            ../programs/image1-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../programs/image1-767@1x.jpg 1x,
            ../programs/image1-767@2x.jpg 2x,
            ../programs/image1-767@3x.jpg 3x">
                    <img class="program__img" src="../programs/image1.jpg" alt="">
                </picture>
                <div class="program__wrap-content">
                    <h3 class="program__title">Такая разная Марий Эл (6+)</h3>
                    <p class="program__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="program__days">15.02 — 30.12</p>
                    <div class="program__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
                <p class="program__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="programs__item program">
                <p class="programs__item-type"><span>Hаучно-познавательная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../programs/image2-767@1x.webp 1x,
            ../programs/image2-767@2x.webp 2x,
            ../programs/image2-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../programs/image2-767@1x.jpg 1x,
            ../programs/image2-767@2x.jpg 2x,
            ../programs/image2-767@3x.jpg 3x">
                    <img class="program__img" src="../programs/image2.jpg" alt="">
                </picture>
                <div class="program__wrap-content">
                    <h3 class="program__title">«В мире археологии»</h3>
                    <p class="program__place">Музей истории и археологии</p>
                    <p class="program__days">20.05 — 17.09</p>
                    <div class="program__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
            <li class="programs__item program">
                <p class="programs__item-type"><span>Музейная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../programs/image3-767@1x.webp 1x,
            ../programs/image3-767@2x.webp 2x,
            ../programs/image3-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../programs/image3-767@1x.jpg 1x,
            ../programs/image3-767@2x.jpg 2x,
            ../programs/image3-767@3x.jpg 3x">
                    <img class="program__img" src="../programs/image3.jpg" alt="">
                </picture>
                <div class="program__wrap-content">
                    <h3 class="program__title">Игрозавры (6+)</h3>
                    <p class="program__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="program__days">01.01 — 31.12</p>
                    <div class="program__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
        </ul>
        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>