<section class="rules rules--page">
    <div class="rules__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Правила посещения</h1>
        </div>
    </div>
    <div class="rules__content-wrap">
        <div class="rules__main-content">
            <ul>
                <li>Вход в залы музея осуществляется по предъявлению входного билета смотрителю.</li>
                <li>Экскурсии в музейных залах проводятся штатными экскурсоводами.</li>
                <li>Видеосъёмка в экспозиционных залах разрешена только при покупке специального билета.</li>
            </ul>
            <ul>
                <li>При обнаружении подозрительных предметов, свёртков, сумок и иных вещей, оставленных в помещении музея, посетителям следует немедленно сообщить об этом смотрителям, представителям службы безопасности или другим сотрудникам музея.</li>
                <li>Посетители обязаны соблюдать Правила, выполнять требования сотрудников музея.</li>
                <li>Лица, нарушающие установленный настоящими Правилами порядок, должны покинуть музей. В случае неподчинения работники музея имеют право обратиться в органы внутренних дел (ОВД).</li>
            </ul>







        </div>
        <div class="rules__secondary-content">
            <h2>Запрещается</h2>
            <ul>
                <li>Проносить в залы:
                    <ol>
                        <li>холодное и огнестрельное оружие;</li>
                        <li>объёмные сумки, пакеты и иную ручную кладь;</li>
                        <li>пищевые продукты;</li>
                        <li>легковоспламеняющиеся, взрывчатые и отравляющие вещества;</li>
                        <li>проходить в музей с животными.</li>
                    </ol>
                </li>
                <li>курить в помещении музея и ближе 15 м от входа в музей;</li>
                <li>находиться в музейных залах в состоянии алкогольного или наркотического опьянения, в верхней одежде;</li>
                <li>находиться в запрещённых для доступа посетителей помещениях музея;</li>
                <li>трогать руками музейные экспонаты;</li>
                <li>осуществлять несанкционированную коммерческую деятельность;</li>
                <li>громко разговаривать, бегать по залам.</li>
            </ul>
            <div class="rules__visiting-notes">
                <p><span>Музеи доступны для</span>
                    <a href="#">
                        людей с ограниченными возможностями здоровья&nbsp; <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                    </a>
                </p>
            </div>
        </div>
        <div class="rules__video-content">
            <div class="video"></div>
            <p>Добро пожаловать в Национальный музей Республики Марий Эл имени Тимофея Евсеева!</p>
        </div>
    </div>
</section>