.search {
  &__form {
    position: relative;
  }

  &__input {
    @include text-14;
    padding: 12px 40px 12px 0;
    color: $dark-gray;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    transition: $transition;
    outline: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid $secondary;
    }

  }

  &__btn-submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    @include btn-reset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    outline-color: $secondary;

    & .icon {
      width: 20px;
      height: 20px;
    }

    & use.icon__symbol {
      stroke: $dark-gray;
    }

    &:hover,
    &:focus {
      & use.icon__symbol {
        stroke: $secondary;
      }
    }

  }

}

.main-header__search {
  & .search {
    @include container;

    &__form {
      display: none;
    }

    @media (min-width: $lg-width) {
      &__form {
        display: block;
      }
    }
  }

  &--opened {
    & .search {
      &__form {
        display: block;
      }
    }
  }
}