<section class="main-header" id="navbar">
    <!--Лого, кнопки, поиск-->
    <div class="main-header__nav">
        <div class="page__wrap">
            <include src="./src/components/blocks/main-nav/main-nav.html"></include>
        </div>
    </div>
    <!--Основное меню-->
    <div class="main-header__menu">
        <div class="page__wrap">
            <div class="main-header__button-wrap">
                <a class="btn btn--main" href="#">Купить билет</a>
                <include src="./src/components/blocks/languages/languages.html"></include>
            </div>
            <include src="./src/components/blocks/site-nav/site-nav.html"></include>
        </div>
    </div>
    <!--Строка поиска-->
    <div class="main-header__search">
        <include src="./src/components/blocks/search/search.html"></include>
    </div>
</section>