/*Три состояния меню:
1. Мобильное: фиксированное с бургером, скрывается при скролле вниз, показывается при скролле вверх
2. Десктопное: Статичное полностью раскрытое, показывается до момента своего скрытия из вьюпорта
3. Десктопное при скролле: с бургером, активно с момента скрытия из вьюпорта статичного меню, скрывается при скролле вниз, показывается при скролле вверх*/

.main-header {
  &--mobile {
    position: relative;

    & .main-header__nav {
      position: relative;
      z-index: 10;
      box-shadow: 0px 10px 50px rgba(181, 181, 181, 0.5);
    }

    & .main-header__menu,
    & .main-header__search {
      transform: translateY(-100%);
      width: 100%;
      transition: $transition;
      position: absolute;
      top: 80px;
      left: 0;
      &--opened {
        transform: translateY(0);
      }
    }
  }

  &--desktop {
    position: relative;


    & .figure__yellow-triangle {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      aspect-ratio: 1 / 1;
      background-color: $status;
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      transform: translateX(410px);
    }

    & .main-header__nav {
      overflow: hidden;
      & > .page__wrap {
        position: relative;

        & .figure__blue-triangle {
          position: absolute;
          bottom: -25px;
          left: 0;
          background-color: $secondary;
          width: 100vw;
          height: 1px;
        }

        & .figure__blue-line {
          position: absolute;
          bottom: -25px;
          left: 1px;
          background-color: $secondary;
          width: 38px;
          height: 38px;
          clip-path: polygon(0 0, 0 100%, 100% 100%);
          transform: translateX(-100%);
        }
      }
    }    
  }

  &--desktop-sticky {
    position: sticky;
    top: 0;
    left: 0;

    & .main-header__nav {
      position: relative;
      z-index: 10;
      box-shadow: 0px 10px 50px rgba(181, 181, 181, 0.5);
    }

    & .main-header__menu {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: $transition;

      &--opened {
        transform: translateY(100%);
      }
    }
  }
}

.main-header {

  width: 100%;
  z-index: 10;



  &__nav {
    padding: 20px 0 25px;
    background-color: $light;

    & .main-header__button-wrap {
      display: none;

      @media (min-width: $lg-width) {
        display: flex;
      }
    }
  }

  &__menu {
    background-color: $light;
    padding: 20px 0 25px;

    & .main-header__button-wrap {
      margin-bottom: 8px;
      @media (min-width: $lg-width) {
        display: none;
      }
    }
  }

  &__search {
    padding: 23px 0;
    background-color: $light;

    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $lg-width) {
      padding: 0;
      display: none;
    }
  }

  &__button-wrap {
    display: flex;
    gap: 20px;


    @media (min-width: $lg-width) {
      gap: 30px;
    }
  }
}

.main-header--desktop-sticky .main-header {
  &__button-wrap {
    order: 4;
  }
}