body.lock {
  overflow: hidden;
}

.page {
  &__section {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  &__wrap {
    @include container;
  }

  &__subtitle {
    @include mp;
    @include h2;
    margin-bottom: 1.36em;
  }
}