body.lock {
  overflow: hidden;

  .fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    opacity: 0.5;
  }
}




.page {
  &__section {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  &__wrap {
    @include container;
  }

  &__subtitle {
    @include mp;
    @include h2;
    margin-bottom: 1.36em;
  }

  &__cover {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    & .blur {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(20px);
    }
  }

  &__head .page__wrap,
  &__content .page__wrap {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $lg-width) {
      grid-template-columns: 1fr 460px;
      column-gap: 50px;
    }
  }

  &__head {
    background-color: $superlight;
    padding-top: 15px;
    padding-bottom: 10px;
    background-image: url("../exposition/logo-bg.png");
    background-repeat: no-repeat;
    background-size: 275px 268px;
    background-position: right -120px center;

    @media (min-width: $md-width) {
      padding-top: 30px;
      padding-bottom: 25px;
    }

    @media (min-width: $xl-width) {
      background-position: right 10% center;
    }

    & .page__wrap {
      @media (min-width: $lg-width) {
        grid-template-areas:
              "title info"
              ". info"
              "nav info";
      }
    }
  }

  &__head-title {
    @include mp(0 0 30px);
    @include h1;

    @media (min-width: $lg-width) {
      margin-bottom: 87px;
      grid-area: title;
    }

    & span {
      display: block;
      @include mp(0 0 10px);
      @include text-normal-caps;

      @media (min-width: $lg-width) {
        margin-bottom: 30px;
      }
    }
  }

  &__head-info {
    margin-bottom: 35px;

    @media (min-width: $lg-width) {
      margin-bottom: 0;
      grid-area: info;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__link-list {
    @include list();
    @include mp();
    display: flex;
    flex-wrap: wrap;
    @include text-bold-caps;
    color: $dark-gray;
    gap: 20px;

    @media (min-width: $lg-width) {
      grid-area: nav;
    }

    & li {
      & > a {
        display: inline-flex;
        position: relative;
        color: inherit;
        text-decoration: none;
        transition: $transition;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: transparent;
          transition: $transition;
        }

        &:hover {
          color: $secondary;

          &::before {
            background-color: $secondary;
          }
        }
      }
    }
  }

  &__content {
    background-color: $light;
    padding-top: 10px;
    padding-bottom: 30px;

    @media (min-width: $md-width) {
      padding-top: 30px;
      padding-bottom: 60px;
    }

    & .page__wrap {
      @media (min-width: $lg-width) {
        grid-template-areas:
              "text info"
              "slider slider";
      }
    }
  }

  &__text {
    @include text-10;
    margin-bottom: 15px;

    @media (min-width: $md-width) {
      @include text-normal;
    }

    @media (min-width: $lg-width) {
      margin-bottom: 0;
      grid-area: text;
    }

    & p {
      margin-top: 0;
    }
  }

  &__content-info {
    @media (min-width: $lg-width) {
      grid-area: info;
    }
  }

  &__slider {
    position: relative;
    overflow: hidden;
    @media (min-width: $lg-width) {
      overflow: unset;
      grid-area: slider;
    }
  }

  &__slider-wrap {
    overflow: hidden;
    width: 100%;
    min-height: 50px;
    margin-bottom: 15px;

    @media (min-width: $lg-width) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
      max-width: 1920px;
      overflow: hidden;
      margin-top: 60px;
    }

    &.swiper {
      @media (min-width: $lg-width) {
        overflow: visible;
      }
    }
  }

  &__slider-buttons {
    @media (min-width: $md-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      @include btn-reset;
      display: flex;
      width: 32px;
      height: 32px;

      @media (min-width: $lg-width) {
        width: 102px;
      }

      &--mobile {
        @media (min-width: $md-width) {
          display: none;
        }
      }

      &--desktop {
        display: none;

        @media (min-width: $md-width) {
          display: block;
        }
      }

      @media (min-width: $md-width) {
        position: static;
        top: unset;
        right: unset;
        left: unset;
        bottom: unset;
      }

      &::after {
        display: none;
      }

      & .icon {
        width: 32px;
        height: 16px;

        @media (min-width: $md-width) {
          width: 102px;
        }
      }

      & use.icon__symbol {
        fill: $secondary;
      }
    }

    & .swiper-button-prev {
      left: 10px;
    }

    & .swiper-button-next {
      right: 10px;
    }
  }



}


.main-header  {
  @media (min-width: $lg-width) {

    & .figure__blue-triangle {
      position: absolute;
      bottom: -25px;
      left: 1px;
      background-color: $main;
      width: 38px;
      height: 38px;
      clip-path: polygon(0 0, 0 100%, 100% 100%);
      transform: translateX(-100%);
    }

    & .figure__blue-line {
      position: absolute;
      bottom: -25px;
      left: 0;
      background-color: $main;
      width: 100vw;
      height: 1px;
      transform: translateX(0);
    }
  }
}

body {
  overflow-x: hidden;
  @media (min-width: $lg-width) {
    & .figure__yellow-triangle {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      aspect-ratio: 1 / 1;
      background-color: $status;
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      transform: translateX(410px);
      z-index: -1;
    }
  }
}
