<section class="main-slider swiper">
        <ul class="main-slider__list swiper-wrapper">
            <li class="main-slider__item swiper-slide">
                <div class="main-slider__item-wrap">
                    <picture>
                        <source type="image/webp" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.webp,
            ../main-slider/slide1-1200@2x.webp 2x,
            ../main-slider/slide1-1200@3x.webp 3x">
                        <source type="image/webp" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.webp,
            ../main-slider/slide1-991@2x.webp 2x,
            ../main-slider/slide1-991@3x.webp 3x">
                        <source type="image/webp" srcset="
            ../main-slider/slide1-767@1x.webp 1x,
            ../main-slider/slide1-767@2x.webp 2x,
            ../main-slider/slide1-767@3x.webp 3x">
                        <source type="image/jpeg" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.png 1x,
            ../main-slider/slide1-1200@2x.png 2x,
            ../main-slider/slide1-1200@3x.png 3x">
                        <source type="image/jpeg" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.png 1x,
            ../main-slider/slide1-991@2x.png 2x,
            ../main-slider/slide1-991@3x.png 3x">
                        <source type="image/jpeg" srcset="
            ../main-slider/slide1-767@1x.png 1x,
            ../main-slider/slide1-767@2x.png 2x,
            ../main-slider/slide1-767@3x.png 3x">
                        <img src="/../main-slider/slide1.png" alt="Творцов вдохновляющая муза">
                    </picture>
                    <div class="main-slider__content">
                        <h2 class="main-slider__title">Творцов вдохновляющая муза (0+)</h2>
                        <p class="main-slider__text">2 марта — 3 апреля</p>
                        <div class="main-slider__btn-wrap">
                            <a class="btn btn--main" href="#">Купить билет</a>
                            <a class="btn btn--secondary" href="#">
                                Подробнее
                                <svg class="icon" width="20px" height="20px">
                                    <use class="icon__symbol" xlink:href="#icons-arrow-up-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="main-slider__item swiper-slide">
                <div class="main-slider__item-wrap">
                    <picture>
                        <source type="image/webp" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.webp,
            ../main-slider/slide1-1200@2x.webp 2x,
            ../main-slider/slide1-1200@3x.webp 3x">
                        <source type="image/webp" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.webp,
            ../main-slider/slide1-991@2x.webp 2x,
            ../main-slider/slide1-991@3x.webp 3x">
                        <source type="image/webp" srcset="
            ../main-slider/slide1-767@1x.webp 1x,
            ../main-slider/slide1-767@2x.webp 2x,
            ../main-slider/slide1-767@3x.webp 3x">
                        <source type="image/jpeg" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.png 1x,
            ../main-slider/slide1-1200@2x.png 2x,
            ../main-slider/slide1-1200@3x.png 3x">
                        <source type="image/jpeg" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.png 1x,
            ../main-slider/slide1-991@2x.png 2x,
            ../main-slider/slide1-991@3x.png 3x">
                        <source type="image/jpeg" srcset="
            ../main-slider/slide1-767@1x.png 1x,
            ../main-slider/slide1-767@2x.png 2x,
            ../main-slider/slide1-767@3x.png 3x">
                        <img src="/../main-slider/slide1.png" alt="Творцов вдохновляющая муза">
                    </picture>
                    <div class="main-slider__content">
                        <h2 class="main-slider__title">Творцов вдохновляющая муза (0+)</h2>
                        <p class="main-slider__text">2 марта — 3 апреля</p>
                        <div class="main-slider__btn-wrap">
                            <a class="btn btn--main" href="#">Купить билет</a>
                            <a class="btn btn--secondary" href="#">
                                Подробнее
                                <svg class="icon" width="20px" height="20px">
                                    <use class="icon__symbol" xlink:href="#icons-arrow-up-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="main-slider__item swiper-slide">
                <div class="main-slider__item-wrap">
                    <picture>
                        <source type="image/webp" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.webp,
            ../main-slider/slide1-1200@2x.webp 2x,
            ../main-slider/slide1-1200@3x.webp 3x">
                        <source type="image/webp" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.webp,
            ../main-slider/slide1-991@2x.webp 2x,
            ../main-slider/slide1-991@3x.webp 3x">
                        <source type="image/webp" srcset="
            ../main-slider/slide1-767@1x.webp 1x,
            ../main-slider/slide1-767@2x.webp 2x,
            ../main-slider/slide1-767@3x.webp 3x">
                        <source type="image/jpeg" media="(min-width: 992px)" srcset="
            ../main-slider/slide1-1200.png 1x,
            ../main-slider/slide1-1200@2x.png 2x,
            ../main-slider/slide1-1200@3x.png 3x">
                        <source type="image/jpeg" media="(min-width: 768px)" srcset="
            ../main-slider/slide1-991.png 1x,
            ../main-slider/slide1-991@2x.png 2x,
            ../main-slider/slide1-991@3x.png 3x">
                        <source type="image/jpeg" srcset="
            ../main-slider/slide1-767@1x.png 1x,
            ../main-slider/slide1-767@2x.png 2x,
            ../main-slider/slide1-767@3x.png 3x">
                        <img src="/../main-slider/slide1.png" alt="Творцов вдохновляющая муза">
                    </picture>
                    <div class="main-slider__content">
                        <h2 class="main-slider__title">Творцов вдохновляющая муза (0+)</h2>
                        <p class="main-slider__text">2 марта — 3 апреля</p>
                        <div class="main-slider__btn-wrap">
                            <a class="btn btn--main" href="#">Купить билет</a>
                            <a class="btn btn--secondary" href="#">
                                Подробнее
                                <svg class="icon" width="20px" height="20px">
                                    <use class="icon__symbol" xlink:href="#icons-arrow-up-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    <div class="page__wrap">
        <div class="swiper-pagination"></div>
        <div class="swiper-pagination-vertical"></div>
    </div>

</section>

