<section class="main-slider swiper">
        <ul class="main-slider__list swiper-wrapper">
            <li class="main-slider__item swiper-slide">
                <div class="main-slider__item-wrap">
                    <picture>
                        <source type="image/webp" media="(min-width: 1024px)" srcset="
                            ../main-slider/slide1-1680.webp,
                            ../main-slider/slide1-1680@2x.webp 2x,
                            ../main-slider/slide1-1680@3x.webp 3x">
                        <source type="image/webp" srcset="
                            ../main-slider/slide1-768@1x.webp 1x,
                            ../main-slider/slide1-768@2x.webp 2x,
                            ../main-slider/slide1-768@3x.webp 3x">
                        <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                            ../main-slider/slide1-1680.jpg 1x,
                            ../main-slider/slide1-1680@2x.jpg 2x,
                            ../main-slider/slide1-1680@3x.jpg 3x">
                        <source type="image/jpeg" srcset="
                            ../main-slider/slide1-768@1x.jpg 1x,
                            ../main-slider/slide1-768@2x.jpg 2x,
                            ../main-slider/slide1-768@3x.jpg 3x">

                        <img src="/../main-slider/slide1.jpg" alt="Творцов вдохновляющая муза">
                    </picture>
                    <div class="main-slider__content">
                        <h2 class="main-slider__title">Творцов вдохновляющая муза (0+)</h2>
                        <p class="main-slider__text">2 марта — 3 апреля</p>
                        <div class="main-slider__btn-wrap">
                            <a class="btn btn--main" href="#">Купить билет</a>
                            <a class="btn btn--secondary" href="#">
                                Подробнее
                                <svg class="icon" width="20px" height="20px" fill="none">
                                    <use class="icon__symbol" xlink:href="#arrow-up-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="main-slider__item swiper-slide">
                <div class="main-slider__item-wrap">
                    <picture>
                        <source type="image/webp" media="(min-width: 1024px)" srcset="
                            ../main-slider/slide2-1280.webp,
                            ../main-slider/slide2-1280@2x.webp 2x,
                            ../main-slider/slide2-1280@3x.webp 3x">
                        <source type="image/webp" srcset="
                            ../main-slider/slide2-1024@1x.webp 1x,
                            ../main-slider/slide2-1024@2x.webp 2x,
                            ../main-slider/slide2-1024@3x.webp 3x">
                        <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                            ../main-slider/slide2-1280.jpg 1x,
                            ../main-slider/slide2-1280@2x.jpg 2x,
                            ../main-slider/slide2-1280@3x.jpg 3x">
                        <source type="image/jpeg" srcset="
                            ../main-slider/slide2-1024@1x.jpg 1x,
                            ../main-slider/slide2-1024@2x.jpg 2x,
                            ../main-slider/slide2-1024@3x.jpg 3x">
                        <img src="/../main-slider/slide2-1280@1x.jpg" alt="Калевала / передвижная выставка Музея-заповедника «Кижи»">
                    </picture>
                    <div class="main-slider__content">
                        <h2 class="main-slider__title">Калевала / передвижная выставка Музея-заповедника «Кижи» (0+)</h2>
                        <p class="main-slider__text">7 февраля — 31 марта</p>
                        <div class="main-slider__btn-wrap">
                            <a class="btn btn--main" href="#">Купить билет</a>
                            <a class="btn btn--secondary" href="#">
                                Подробнее
                                <svg class="icon" width="20px" height="20px" fill="none">
                                    <use class="icon__symbol" xlink:href="#arrow-up-right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    <div class="swiper-pagination"></div>
    <div class="swiper-pagination-vertical"></div>

</section>

