<section class="posters posters--excursions-and-tours" id="excursions-and-tours">
    <div class="posters__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Экскурсии и туры</h2>
        </div>
        <div class="posters__type-filter">
            <div class="posters__tabs-wrap">
                <fieldset class="filter filter--tabs-status">
                    <legend class="visually-hidden">Локация</legend>
                    <div class="form__field">
                        <input type="radio" id="all" name="location" checked>
                        <label for="all">Все</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="yoshkarola" name="location">
                        <label for="yoshkarola">По Йошкар-Оле</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="kozm" name="location">
                        <label for="kozm">в Kозьмодемьянск</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="castle" name="location">
                        <label for="castle">в замок шереметевых</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="mariel" name="location">
                        <label for="mariel">По Марий Эл</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="posters__content">
        <ul class="posters__list">
            <li class="posters__item poster poster--pushkincard">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../programs/programs-1.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">экскурсия по йошкар-Оле</p>
                    <h3 class="poster__title">Автобусно-пешеходная экскурсия "Галопом по Европам"</h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>г. Йошкар-Ола</li>
                        </ul>
                        <p class="poster__duration">7 часов</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../programs/programs-image2.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">экскурсии по марий эл</p>
                    <h3 class="poster__title">Край звонких гуслей</h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>г. Йошкар-Ола</li>
                            <li>г.Козьмодемьянск</li>
                        </ul>
                        <p class="poster__duration">7 часов</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../programs/programs-image3.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">экскурсии в замок шереметевых</p>
                    <h3 class="poster__title">Легенды Замка Шереметевых</h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>Йошкар-Ола – замок Шереметева</li>
                        </ul>
                        <p class="poster__duration">2 дня</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
        </ul>

        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>
<section class="posters posters--master-classes" id="master-classes">
    <div class="posters__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Мастер-классы</h2>
        </div>
    </div>
    <div class="posters__content">
        <ul class="posters__list">
            <li class="posters__item poster poster--pushkincard">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Музейно-краеведческий квест</p>
                    <h3 class="poster__title">Такая разная Марий Эл <span>(6+)</span></h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>Национальный музей Республики Марий Эл им. Т. Евсеева</li>
                        </ul>
                        <p class="poster__days">15.02 — 30.12</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Hаучно-познавательная программа</p>
                    <h3 class="poster__title">«В мире археологии»</h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>Музей истории и археологии</li>
                        </ul>
                        <p class="poster__days">20.05 — 17.09</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Музейная программа</p>
                    <h3 class="poster__title">Игрозавры <span>(6+)</span></h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>Национальный музей Республики Марий Эл им. Т. Евсеева</li>
                        </ul>
                        <p class="poster__days">01.01 — 31.12</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
        </ul>

        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>
<section class="posters posters--interactive-programs" id="interactive-programs">
    <div class="posters__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Интерактивные программы</h2>
        </div>
    </div>
    <div class="posters__content">
        <ul class="posters__list">
            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Познавательная пешеходная экскурсия</p>
                    <h3 class="poster__title">Экскурсия для детей "Прогулки с Йошкиным котом" (6+)</h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>г.Йошкар-Ола</li>
                        </ul>
                        <p class="poster__duration">45 минут</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="posters__item poster poster--pushkincard">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Водная экскурсия</p>
                    <h3 class="poster__title">По водной глади <span>(14+)</span></h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>г.Йошкар-Ола</li>
                        </ul>
                        <p class="poster__duration">30 - 60 минут</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>

            <li class="posters__item poster">
                <picture>
                    <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                    <img class="poster__img" src="../images/image.jpg" alt="">
                </picture>
                <a class="posters__item-link" href="#">
                    <p class="poster__type">Музейная программа</p>
                    <h3 class="poster__title">Игрозавры <span>(6+)</span></h3>
                    <div class="poster__info-wrap">
                        <ul class="poster__place">
                            <li>Национальный музей Республики Марий Эл им. Т. Евсеева</li>
                        </ul>
                        <p class="poster__days">01.01 — 31.12</p>
                    </div>
                    <div class="poster__label-wrap">
                        <p class="poster__label">Сборная группа</p>
                        <p class="poster__label">Организованная группа</p>
                    </div>
                </a>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
        </ul>

        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>

<section class="useful-links page__section">
    <div class="page__wrap">
        <ul class="useful-links__list">
            <li class="useful-links__item">
                <a class="useful-links__link" href="./tickets.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../images/image.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Семейные программы</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="useful-links__item">
                <a class="useful-links__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../images/image-767@1x.webp 1x,
            ../images/image-767@2x.webp 2x,
            ../images/image-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../images/image-767@1x.jpg 1x,
            ../images/image-767@2x.jpg 2x,
            ../images/image-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../images/image.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Туры для школьников</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
    </div>
</section>