<section class="news-detail">
    <div class="news-detail__head">
        <div class="news-detail__head-wrap">
            <time class="news-detail__date" datetime="2022-05-10">10 мая 2022</time>
            <h1 class="news-detail__title">Акция «Ночь музеев» пройдёт 21 мая</h1>
        </div>
    </div>

    <div class="news-detail__text">
        <p>Ежегодная акция «Ночь музеев», уже ставшая доброй традицией в Республике Марий Эл, в этом году состоится в ночь с 21 на 22 мая. Основная тема акции в 2022 году – «Точка отсчёта».</p>
        <p>Выставки, мастер-классы, интерактивы и другие активности в режиме нон-стоп — главная прелесть «Ночи музеев»!</p>
        <p>Следите за обновлениями на официальном сайте музея и в соцсетях, ведь совсем скоро мы начнём приоткрывать <a href="#">завесу тайны</a> и поделимся с Вами программой «Ночи музеев» этого года!</p>
    </div>
    <div class="news-detail__img">
        <div class="img">
            <picture>
                <source type="image/webp" srcset="
        ../news-detail/museums-night-767@1x.webp 1x,
        ../news-detail/museums-night-767@2x.webp 2x,
        ../news-detail/museums-night-767@3x.webp 3x">
                <source type="image/jpeg" srcset="
        ../news-detail/museums-night-767@1x.jpg 1x,
        ../news-detail/museums-night-767@2x.jpg 2x,
        ../news-detail/museums-night-767@3x.jpg 3x">
                <img class="exposition__img" src="../news-detail/museums-night.jpg" alt="Ночь музеев 2022">
            </picture>
        </div>

    </div>
</section>
<section class="news page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Другие новости</h2>
        <ul class="news__list">
            <li class="news__item">
                <a class="news__link" href="../news-detail/news-detail.html">
                    <picture>
                        <source type="image/webp" srcset="
            ../news/news1-767@1x.webp 1x,
            ../news/news1-767@2x.webp 2x,
            ../news/news1-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../news/news1-767@1x.jpg 1x,
            ../news/news1-767@2x.jpg 2x,
            ../news/news1-767@3x.jpg 3x">
                        <img class="news__item-img" src="../news/news1.jpg" alt="«Открывая мир» в музее">
                    </picture>
                    <h3 class="news__title">
                        <span>«Открывая мир» в музее</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="news__item">
                <a class="news__link" href="../news-detail/news-detail.html">
                    <picture>
                        <source type="image/webp" srcset="
            ../news/news2-767@1x.webp 1x,
            ../news/news2-767@2x.webp 2x,
            ../news/news2-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../news/news2-767@1x.jpg 1x,
            ../news/news2-767@2x.jpg 2x,
            ../news/news2-767@3x.jpg 3x">
                        <img class="news__item-img" src="../news/news2.jpg" alt="К 60-летию финского профессора археологии Мики Лавенто">
                    </picture>
                    <h3 class="news__title">
                        <span>К 60-летию финского профессора археологии Мики Лавенто</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="news__item">
                <a class="news__link" href="../news-detail/news-detail.html">
                    <picture>
                        <source type="image/webp" srcset="
            ../news/news3-767@1x.webp 1x,
            ../news/news3-767@2x.webp 2x,
            ../news/news3-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../news/news3-767@1x.jpg 1x,
            ../news/news3-767@2x.jpg 2x,
            ../news/news3-767@3x.jpg 3x">
                        <img class="news__item-img" src="../news/news3.jpg" alt="«Тепло женской души» в Параньгинском музее">
                    </picture>
                    <h3 class="news__title">
                        <span>«Тепло женской души» в Параньгинском музее</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="news__item">
                <a class="news__link" href="../news-detail/news-detail.html">
                    <picture>
                        <source type="image/webp" srcset="
            ../news/news4-767@1x.webp 1x,
            ../news/news4-767@2x.webp 2x,
            ../news/news4-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../news/news4-767@1x.jpg 1x,
            ../news/news4-767@2x.jpg 2x,
            ../news/news4-767@3x.jpg 3x">
                        <img class="news__item-img" src="../news/news4.jpg" alt="О творчестве людей с ограниченными возможностями здоровья">
                    </picture>
                    <h3 class="news__title">
                        <span>О творчестве людей с ограниченными возможностями здоровья</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>

        </ul>
        <a class="link link--more" href="#">Все новости</a>
    </div>
</section>