.expositions {
  &__list {
    @include list();
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-area: list;

    @media (min-width: $md-width) {
      grid-template-columns: 1fr 1fr;

    }

    @media (min-width: $xl-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
    }
  }

  &__item {
    position: relative;
    background-color: rgba($dark, 0.4);
    color: $light;
    width: 100%;
    min-height: 100px;
    aspect-ratio: 1 / 1;
    display: none;
    overflow: hidden;

    &:nth-child(-n+3) {
      display: block;
    }

    @media (min-width: $md-width) {
      &:nth-child(-n+4) {
        display: block;
      }
    }

    @media (min-width: $xl-width) {
      &:nth-child(-n+6) {
        display: block;
      }
    }



    &.exposition {
      &--pushkincard {
        &::before {
          content: "";
          position: absolute;
          top: 15px;
          right: 15px;
          width: 20px;
          height: 20px;
          background: url("../expositions/pushkin-card.png") no-repeat center;
          background-size: contain;
          border-radius: 50%;
          border: 1px solid $gray;

          @media (min-width: $md-width) {
            top: 20px;
            right: 20px;
            width: 30px;
            height: 30px;
          }
        }

        & .exposition__pushkincard {
          display: block;
        }
      }
    }

    & .exposition {
      position: relative;

      &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
        transition: 2s;
      }

      &__wrap-content {
        width: 100%;
        height: 100%;
        padding: 15px;
        display: grid;
        grid-template-areas:
      "title title"
      "place days"
      "place btn";
        grid-template-columns: 1.35fr 1fr;
        align-content: end;
        align-items: center;
        column-gap: 15px;
        row-gap: 10px;

        @media (min-width: $lg-width) {
          grid-template-columns: auto 120px;
          padding: 20px;
        }
      }

      &__title {
        position: relative;
        @include mp();
        @include h3;
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;
        grid-area: title;
      }

      &__pushkincard {
        display: none;
      }

      &__age {
        &::after {
          content: "+";
        }
      }

      &__place {
        position: relative;
        @include mp();
        @include text-10;
        padding-left: 25px;
        grid-area: place;
        min-height: 15px;

        @media (min-width: $md-width) {
          @include text-12;
          padding-left: 30px;
          min-height: 20px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 15px;
          height: 15px;
          background: url("../icons/map-pin-light.svg") no-repeat center;
          background-size: contain;
          transform: translateY(-50%);

          @media (min-width: $md-width) {
            width: 20px;
            height: 20px;
          }
        }
      }

      &__days {
        @include mp();
        @include text-accent;
        grid-area: days;
        text-align: center;
      }

      & .btn {
        grid-area: btn;


        @media (min-width: $lg-width) {
          max-width: 120px;
        }
      }
    }
  }

  &__item-link {
    position: relative;
    color: inherit;
    text-decoration: none;

    &:hover {
      & .exposition__img {
        transform: scale(1.05);
      }
    }
  }

  &__item-status {
    position: absolute;
    @include mp();
    @include text-status;
    color: $status;
    margin-top: 15px;

    @media (min-width: $md-width) {
      margin-top: 20px;
    }

    & span {
      display: inline-block;
      position: relative;
      padding-left: 20px;

      @media (min-width: $md-width) {
        padding-left: 30px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 2px;
        background-color: $status;
        transform: translateY(-50%);

        @media (min-width: $md-width) {
          width: 20px;
        }
      }
    }
  }
}

.expositions--page {
  & .expositions {
    &__head {
      background-color: $superlight;
      padding-top: 15px;
      padding-bottom: 30px;
      margin-bottom: 30px;

      @media (min-width: $md-width) {
        margin-bottom: 50px;
      }

      & .page__subtitle {
        margin-bottom: 20px;
      }
    }

    &__filters {
      border-bottom: 1px solid $light-gray;
      padding-bottom: 20px;

      @media (min-width: $lg-width) {
        border-bottom: none;
      }
    }

    &__filters-title {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      @include mp();
      @include text-normal;
      min-height: 30px;
      transition: $transition;

      @media (min-width: $lg-width) {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
      }

      & span {
        display: none;
      }

      &--selected {
        & span {
          color: $secondary;
          display: inline-block;
          margin-left: 0.25em;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        content: "";
        background-color: $dark-gray;
      }

      &::before {
        right: 0;
        width: 18px;
        height: 2px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-50%) rotate(-90deg);
        opacity: 1;
      }

      &::after {
        right: 8px;
        width: 2px;
        height: 18px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-50%) rotate(-90deg);
      }




      &.active {
        color: $secondary;
        &::before {
          transition: all 0.5s ease-in-out;
          transform:  translateY(-50%) rotate(90deg);
          opacity: 0;
        }

        &::after {
          transition: all 0.5s ease-in-out;
          transform:  translateY(-50%) rotate(90deg);
        }
      }
    }

    &__filters-block {
      padding-top: 10px;
      display: none;

      @media (min-width: $lg-width) {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
      }
    }

    &__filters-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;

      @media (min-width: $lg-width) {
        margin-bottom: 0;
      }
    }

    &__filters-btn-wrap {
      display: flex;
      gap: 15px;

      & .btn {
        min-height: 35px;
        padding: 5px 18px;

        &--main-invert {
          background-color: transparent;

          &:hover,
          &:focus {
            background-color: $main-dark;
            border-color: $main-dark;
            color: $light;
          }
        }

        @media (min-width: $lg-width) {
          min-height: 45px;
          padding: 10px 40px;

          &--main {
            display: none;
          }
        }
      }
    }

    &__list {
      margin-bottom: 30px;

      @media (min-width: $md-width) {
        margin-bottom: 50px;
      }
    }
  }

}


.expositions--section {
  & .page__wrap {
    display: grid;
    grid-template-columns: calc(100% - 125px) 100px;
    grid-gap: 25px;
    grid-template-areas:
      "title time-filter"
      "place-filter place-filter"
      "list list"
      "link-more link-more";
    align-items: center;

    @media (min-width: $lg-width) {
      grid-row-gap: 50px;
      grid-column-gap: 110px;
      grid-template-columns: auto 250px 200px;
      grid-template-areas:
      "title place-filter time-filter"
      "list list list"
      "link-more link-more link-more";
      justify-content: space-between;
    }

    @media (min-width: $xl-width) {
      grid-column-gap: 50px;
    }
  }

  & .page__subtitle {
    grid-area: title;
    margin-bottom: 0;
  }

  & .link--more {
    grid-area: link-more;
  }
}
