<section class="expositions expositions--section page__section">
  <div class="expositions__head">
    <h2 class="page__subtitle">Выставки</h2>
    <fieldset class="filter filter--select-status">
      <legend>Фильтр:</legend>
      <select form="expositions-filters">
        <include src="./src/components/blocks/filter/status-select-options.html"></include>
      </select>
    </fieldset>
    <fieldset class="filter filter--select-place">
      <legend class="visually-hidden">Музейные комплексы</legend>
      <select form="expositions-filters">
        <include src="./src/components/blocks/filter/place-select-options.html"></include>
      </select>
    </fieldset>
    <form class="visually-hidden" id="expositions-filters"></form>
  </div>
  <div class="page__wrap">
    <ul class="expositions__list">
      <li class="expositions__item exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image1-767@1x.webp 1x,
            ../expositions/expositions-image1-767@2x.webp 2x,
            ../expositions/expositions-image1-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image1-767@1x.jpg 1x,
            ../expositions/expositions-image1-767@2x.jpg 2x,
            ../expositions/expositions-image1-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image1.jpg" alt="Творцов вдохновляющая муза">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Творцов вдохновляющая муза (<span class="exposition__age">0</span>)</h3>
            <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
            <p class="exposition__days">2.03 — 3.04</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
          <p class="exposition__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
        </a>
      </li>
      <li class="expositions__item  exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image2-767@1x.webp 1x,
            ../expositions/expositions-image2-767@2x.webp 2x,
            ../expositions/expositions-image2-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image2-767@1x.jpg 1x,
            ../expositions/expositions-image2-767@2x.jpg 2x,
            ../expositions/expositions-image2-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image2.jpg" alt="Выставка регионального этапа Международного конкурса детского рисунка">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Красота Божьего мира / выставка регионального этапа Международного конкурса детского рисунка <span>(0+)</span></h3>
            <p class="exposition__place">Музей истории Православия </p>
            <p class="exposition__days">2.03 — 3.04</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
        </a>
      </li>
      <li class="expositions__item  exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image3-767@1x.webp 1x,
            ../expositions/expositions-image3-767@2x.webp 2x,
            ../expositions/expositions-image3-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image3-767@1x.jpg 1x,
            ../expositions/expositions-image3-767@2x.jpg 2x,
            ../expositions/expositions-image3-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image3.jpg" alt="передвижная выставка Музея-заповедника Кижи">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Калевала / передвижная выставка Музея-заповедника «Кижи» <span>(0+)</span></h3>
            <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
            <p class="exposition__days">7.02 — 31.03</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
        </a>

      </li>
      <li class="expositions__item  exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image4-767@1x.webp 1x,
            ../expositions/expositions-image4-767@2x.webp 2x,
            ../expositions/expositions-image4-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image4-767@1x.jpg 1x,
            ../expositions/expositions-image4-767@2x.jpg 2x,
            ../expositions/expositions-image4-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image4.jpg" alt="Солдаты трёх государств: четыре страницы из истории Царевококшайска в годы Первой мировой войны">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Солдаты трёх государств: четыре страницы из истории Царевококшайска в годы Первой мировой войны <span>(12+)</span></h3>
            <p class="exposition__place">Музей истории Православия </p>
            <p class="exposition__days">17.12 — 31.05</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
        </a>

      </li>
      <li class="expositions__item  exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image5-767@1x.webp 1x,
            ../expositions/expositions-image5-767@2x.webp 2x,
            ../expositions/expositions-image5-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image5-767@1x.jpg 1x,
            ../expositions/expositions-image5-767@2x.jpg 2x,
            ../expositions/expositions-image5-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image5.jpg" alt="">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Тимофей Евсеев. Призвание / к 135-летию этнографа, основателя музея Т. Е. Евсеева</h3>
            <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
            <p class="exposition__days">1.02 — 10.12</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
        </a>
      </li>
      <li class="expositions__item  exposition exposition--pushkincard">
        <a href="./exposition.html" class="expositions__item-link">
          <p class="expositions__item-status"><span>Уже идёт</span></p>
          <picture>
            <source type="image/webp" srcset="
            ../expositions/expositions-image6-767@1x.webp 1x,
            ../expositions/expositions-image6-767@2x.webp 2x,
            ../expositions/expositions-image6-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../expositions/expositions-image6-767@1x.jpg 1x,
            ../expositions/expositions-image6-767@2x.jpg 2x,
            ../expositions/expositions-image6-767@3x.jpg 3x">
            <img class="exposition__img" src="../expositions/expositions-image6.jpg" alt="Выставка работ людей с ограниченными возможностями здоровья">
          </picture>
          <div class="exposition__wrap-content">
            <h3 class="exposition__title">Открывая мир / выставка работ людей с ограниченными возможностями здоровья <span>(0+)</span></h3>
            <p class="exposition__place">Музей народно-прикладного искусства</p>
            <p class="exposition__days">25.03 — 26.04</p>
            <button class="btn btn--main">Купить билет</button>
          </div>
        </a>

      </li>
    </ul>
    <a class="link link--more" href="./expositions.html">Все выставки</a>
  </div>

</section>
