<section class="history">
    <div class="history__head">
        <div class="history__head-wrap">
            <h1 class="history__title">История Национального музея Республики Марий Эл им. Т. Евсеева</h1>
        </div>
    </div>
    <div class="history__filter-wrap">
        <h3>Страницы истории</h3>
        <ul class="history__nav">
            <li><a href="#">1920-1930 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1930-1940 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1940-1950 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1950-1960 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1960-1970 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1970-1980 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1980-1990 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">1990-2000 г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">2000-е г.г.<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
        </ul>
        <fieldset class="filter filter--history">
            <select>
                <option>1920-1930 г.г.</option>
                <option>1930-1940 г.г.</option>
                <option>1940-1950 г.г.</option>
                <option>1950-1960 г.г.</option>
                <option>1960-1970 г.г.</option>
                <option>1970-1980 г.г.</option>
                <option>1980-1990 г.г.</option>
                <option>1990-2000 г.г.</option>
                <option>2000-е г.г.</option>
            </select>
        </fieldset>
    </div>
    <div class="history__text">
        <div class="block block--showoneitem">
            <div class="block__item">
                <div class="block__title active">1920-1930 г.г.</div>
                <div class="block__text" style="display: block;">
                    <h3>1920</h3>
                    <p>4 марта 1920 года на заседании коллегии Краснококшайского уездного отдела народного образования было принято постановление «организовать Центральный музей в городе Краснококшайске… и предложить Педагогическому совету курсов и другим школам города принять участие в организации музея — сдачей своих небольших коллекций, сбором всевозможных этнографических материалов… Финансирование музея принять на счёт Внешкольного подотдела».</p>
                    <p>Для заведования и организации были приглашены специалисты из Санкт-Петербурга: агроном П. А. Зелецкий и ассистент кафедры зоологии Я. Г. Зелецкая. Они собирали и комплектовали ботанический и энтомологический материал, художественные картины. Благодаря их стараниям, с марта 1920 года в городе Краснококшайске на ул. Советской в доме №32 (дом Суворова) Центральный музей был открыт для всех посетителей.</p>
                    <p>Совершая экскурсию по Казанскому краю в 1920 году, известный профессор, географ Б. Вишневский сделал обзор по местным музеям. в частности, он написал: «Начнём с Краснококшайского музея, переведённого теперь из прежнего тесного помещения в более обширное, бывшую школу 1 ступени на Советской улице. Дом деревянный, одноэтажный, с мезонином. Музей в настоящее время занимает 4 комнаты (всех 5); в мезонине квартира заведующего».</p>
                    <h3>1921</h3>
                    <p>17 октября 1921 года коллегия отдела народного образования Марийской автономной области приняла решение о преобразовании музея в областной краеведческий. Его заведующим был назначен преподаватель марийского языка и этнографии Марийского педагогического техникума Ф. Е. Егоров.
                    <p>Музей разместили в здании педтехникума, выделив сначала две аудитории, но ввиду крайней стеснённости в отношении помещения самого образовательного учреждения музейные предметы и коллекции показывали в одном кабинете.</p>
                    <h3>1922</h3>
                    <p>В 1922 году государство отказалось от финансовой поддержки, за неимением местных средств музей был закрыт. Все имеющиеся экспонаты музея были переданы на хранение в этнографический отдел Марийского педтехникума.</p>
                    <h3>1924</h3>
                    <p>Музей возобновил свою деятельность 5 декабря 1924 года. Не имея особого помещения, музей временно оставался в этнографическом кабинете Марпедтехникума.</p>
                    <p>Коллекция составляет около 200 единиц хранения. Временные рамки коллекции – 1918-1948 гг.</p>
                    <p>По рекомендации съезда учителей Марийской автономной области в музей был направлен учитель Т. Е. Евсеев, который начал сбор этнографического материала среди мари.</p>
                    <figure>
                        <picture>
                            <source type="image/webp" srcset="
                            ../history/img1-767@1x.webp 1x,
                            ../history/img1-767@2x.webp 2x,
                            ../history/img1-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                            ../history/img1-767@1x.jpg 1x,
                            ../history/img1-767@2x.jpg 2x,
                            ../history/img1-767@3x.jpg 3x">
                            <img src="../history/img1.jpg" alt="">
                        </picture>

                    </figure>

                    <h3>1925</h3>
                    <p>С 1925 года музей был переименован в «Центральный марийский музей» — «Рудо марий тоштэр».</p>
                    <figure>
                        <picture>
                            <source type="image/webp" srcset="
                            ../history/img2-767@1x.webp 1x,
                            ../history/img2-767@2x.webp 2x,
                            ../history/img2-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                            ../history/img2-767@1x.jpg 1x,
                            ../history/img2-767@2x.jpg 2x,
                            ../history/img2-767@3x.jpg 3x">
                            <img src="../history/img2.jpg" alt="">
                        </picture>

                    </figure>

                    <p>Большую помощь музею оказывало Марийское общество краеведения. Совместно ими проводилась большая научно-исследовательская и научно-собирательская работа, организовывались экспедиции по изучению природных богатств края, культуры и быта народа мари.</p>
                    <p>Первая этнографическая экспедиция в составе Т. Е. Евсеева, В. М. Васильева и Ф. Е. Егорова была организована к ветлужским и яранским марийцам в 1925 году.</p>
                    <h3>1926</h3>
                    <p>Летом 1926 года проходила экспедиция по Маробласти и проживающим в других регионах мари. Для музея ими собран полный комплект марийского костюма в Сернурском, Красноуфимском, Бирском кантонах, снято около 70 фотографий, записано 400 марийских песен, 900 загадок, 280 пословиц, 115 народных примет, 20 заговоров.</p>
                    <figure>
                        <picture>
                            <source type="image/webp" srcset="
                            ../history/img3-767@1x.webp 1x,
                            ../history/img3-767@2x.webp 2x,
                            ../history/img3-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                            ../history/img3-767@1x.jpg 1x,
                            ../history/img3-767@2x.jpg 2x,
                            ../history/img3-767@3x.jpg 3x">
                            <img src="../history/img3.jpg" alt="">
                        </picture>

                    </figure>

                    <h3>1927</h3>
                    <p>В начале 1927 года музей был переведён в отдельное небольшое каменное здание. Летом 1927 года Т. Е. Евсеев, В. М. Васильев вместе с аспирантом Научно-исследовательского института народов Востока Г. Г. Кармазиным (Эвайном) выезжали в историко-этнографическую экспедицию в Моркинский и Звениговский кантоны области по изучению духовной культуры и быта мари.</p>
                    <h3>1928</h3>
                    <p>В 1928 году музеем проводилась экспедиция в Моркинский и Звениговский кантоны (район р. Илеть) с целью изучения древних способов рыболовства и бортничества мари. Экспедицией были приобретены предметы бортничества, древние орудия охоты, рыболовные снасти и принадлежности.</p>


                </div>
            </div>
            <div class="block__item">
                <div class="block__title">1930-1940 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1940-1950 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1950-1960 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1960-1970 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1970-1980 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1980-1990 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">1990-2000 гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">2000-е гг.</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
        </div>
    </div>
    <div class="history__main-img">
        <picture>
            <source type="image/webp" srcset="
        ../history/main-img-767@1x.webp 1x,
        ../history/main-img-767@2x.webp 2x,
        ../history/main-img-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
        ../history/main-img-767@1x.jpg 1x,
        ../history/main-img-767@2x.jpg 2x,
        ../history/main-img-767@3x.jpg 3x">
            <img src="../history/main-img.jpg" alt="">
        </picture>
    </div>
</section>