.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.zip
*.sublime*
custom/
dev/
prod/
package-lock.json

faviconData.json
gulp-config.json
gulp-config-dev.json
gulp-config-dev1.json
gulp-config-dev2.json
node_modules/
npm-debug.*
source/css/*.css
source/img/
source/img-old/
Thumbs.db
yaspeller_report.html
!source/css/*min.css