.events {

  &__list {
    @include list();
    display: flex;
    flex-direction: column;
    gap: 30px;
    grid-area: list;
  }

  &__item {
    width: 100%;
    display: grid;
    grid-template-columns: auto 115px;
    grid-column-gap: 1px;
    grid-row-gap: 10px;
    grid-template-areas:
      "img info"
      "cont cont";

    @media (min-width: $md-width) {
      grid-template-columns: 250px auto 120px;
      grid-column-gap: 0;
      grid-row-gap: 0;
      grid-template-areas:
      "img cont info";
    }

    @media (min-width: $lg-width) {
      grid-template-columns: 37% auto 18%;
    }


    &.event--pushkincard {
      & .event__pushkincard {
        display: block;
      }
    }

    & picture {
      @include mp();
      line-height: 0;
    }

    & .event {
      &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit:cover;
        grid-area: img;
      }

      &__info {
        position: relative;
        display: flex;
        padding: 15px 25px 30px;
        grid-area: info;
        background-color: $light;

        @media (min-width: $md-width) {
          border-left: 2px dashed $light-gray;
        }

        @media (min-width: $lg-width) {
          padding: 40px 50px;
          align-items: flex-start;
        }

        @media (min-width: $xl-width) {
          padding: 40px 60px;

        }

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: -1px;
          width: 15px;
          height: 15px;
          background-color: $light-gray;
          border-radius: 50%;

          @media (min-width: $md-width) {
            left: 0;
            width: 30px;
            height: 30px;
          }
        }

        &::before {
          top: 0;
          transform: translateY(-50%) translateX(-50%);
        }

        &::after {
          bottom: 0;
          transform: translateY(50%) translateX(-50%);
        }
      }

      &__days {
        width: 100%;
        @include mp();
        @include text-accent;
        display: flex;
        flex-direction: column;
        gap: 13px;
      }

      &__time-start {
        position: relative;

        &::before {
          content: "—";
          position: absolute;
          top: 0;
          right: 0;
          @include h1;
          font-size: 18px;

          @media (min-width: $md-width) {
            font-size: 18px;
            margin-top: 5px;
          }
        }
      }

      &__day-month {
        display: block;
        @include h1;
        margin-bottom: -5px;

        @media (min-width: $md-width) {
          font-size: 35px;
        }
      }

      &__weekday {
        display: block;
        margin-top: 1px;
        @include text-12;
        color: $gray;
        text-transform: capitalize;

        @media (min-width: $md-width) {
          font-size: 16px;
        }
      }

      &__age {
        position: absolute;
        bottom: 7px;
        right: 10px;
        @include mp();
        @include text-normal-caps;
        font-size: 20px;
        color: $main;

        &::after {
          content: "+";
        }

        @media (min-width: $lg-width) {
          font-size: 24px;
          bottom: 20px;
          right: 20px;
        }
      }

      &__wrap-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        background-color: $light;
        grid-area: cont;

        @media (min-width: $lg-width) {
          padding: 40px 40px 30px;
        }

        @media (min-width: $xl-width) {
          gap: 0;
        }
      }

      &__title {
        @include mp();
        @include h3;

        @media (min-width: $xl-width) {
          margin-bottom: 20px;
        }
      }

      &__pushkincard {
        display: none;
        width: 20px;
        height: 20px;
        background: url("../events/pushkin-card.png") no-repeat center;
        background-size: contain;
        border-radius: 50%;
        border: 1px solid $gray;

        @media (min-width: $xl-width) {
          margin-bottom: 20px;
          width: 30px;
          height: 30px;
        }
      }

      &__advt {
        @include mp();
        @include text-12;
        color: $dark-gray;

        @media (min-width: $xl-width) {
          @include text-normal;
          margin-bottom: 30px;
        }
      }

      &__place {
        position: relative;
        @include mp();
        @include text-10;
        color: $dark-gray;
        padding-left: 25px;
        min-height: 15px;

        @media (min-width: $md-width) {
          @include text-12;
          padding-left: 30px;
          min-height: 20px;
        }

        @media (min-width: $xl-width) {
          margin-bottom: 30px;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 15px;
          height: 15px;
          background: url("../icons/map-pin-gray.svg") no-repeat center;
          background-size: contain;

          @media (min-width: $md-width) {
            width: 20px;
            height: 20px;
          }
        }

        & ul {
          @include list();
          @include mp();
          display: flex;
          flex-direction: column;

          & li {
            &::after {
              content: ",";
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }
      }

      &__link-wrap {
        display: flex;
        justify-content: center;

        @media (min-width: $md-width) {
          justify-content: flex-start;
          gap: 15px;
        }

        @media (min-width: $lg-width) {
          margin-top: auto;
        }
      }
    }

  }

  & .link--more {
    grid-area: link-more;
  }
}

.events--section {
  background-color: $light-gray;

  & .page__wrap {
    display: grid;
    grid-template-columns: calc(100% - 125px) 100px;
    grid-gap: 25px;
    grid-template-areas:
      "title time-filter"
      "place-filter place-filter"
      "list list"
      "link-more link-more";
    align-items: center;

    @media (min-width: $lg-width) {
      grid-row-gap: 50px;
      grid-column-gap: 110px;
      grid-template-columns: auto 250px 200px;
      grid-template-areas:
      "title place-filter time-filter"
      "list list list"
      "link-more link-more link-more";
      justify-content: space-between;
    }
  }

  & .page__subtitle {
    grid-area: title;
    margin-bottom: 0;
  }

  & .filter--select-status {
    grid-area: time-filter;
    position: relative;
    width: 100%;

    & select {
      width: 100%;
      @include text-normal-caps;
      color: $secondary;
      @include mp();
      border: none;
      margin-left: auto;
      background-image: none;
      background-color: transparent;
      text-align: right;
    }


    & legend {
      @media (max-width: 1023px) {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
      }

      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }

  & .filter--select-place {
    grid-area: place-filter;
    width: 100%;

    @media (min-width: $lg-width) {
      width: 250px;
    }
  }


}