.exposition {

  &__cover {
    position: relative;
    background-image: url("../exposition/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
  }

  &__head {
    background-color: $superlight;
    padding-top: 15px;
    padding-bottom: 10px;
    background-image: url("../exposition/logo-bg.png");
    background-repeat: no-repeat;
    background-size: 275px 268px;
    background-position: right -120px center;

    @media (min-width: $md-width) {
      padding-top: 30px;
      padding-bottom: 25px;
    }

    @media (min-width: $xl-width) {
      background-position: right 10% center;
    }

  }

  &__head .page__wrap {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $md-width) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
              "type type"
              "title period"
              "title place"
              "links place";
      column-gap: 30px;
    }

    @media (min-width: $lg-width) {
      grid-template-columns: 1fr 460px;
      column-gap: 50px;
    }
  }




  &__type {
    @include mp(0 0 10px);
    @include text-normal-caps;

    @media (min-width: $md-width) {
      margin-bottom: 30px;
      grid-area: type;
    }
  }

  &__title {
    @include mp(0 0 30px);
    @include h1;

    @media (min-width: $md-width) {
      margin-bottom: 87px;
      grid-area: title;
    }
  }

  &__period {
    @include mp(0 0 10px);
    @include h2;
    font-size: 20px;
    text-transform: none;
    color: $secondary;
    display: flex;
    column-gap: 30px;
    letter-spacing: unset;

    @media (min-width: $md-width) {
      font-size: 30px;
      column-gap: 45px;
      margin-bottom: 30px;
      grid-area: period;
    }

    & time {
      &:last-child {
        position: relative;
        &::before {
          position: absolute;
          content: " — ";
          left: -24px;

          @media (min-width: $md-width) {
            left: -36px;
          }
        }

      }
    }

  }

  &__place {
    @media (min-width: $md-width) {
      grid-area: place;
      align-self: end;
    }
  }

  &__link-list {
    @include list();
    @include mp();
    display: flex;
    @include text-bold-caps;
    color: $dark-gray;
    gap: 20px;

    @media (min-width: $md-width) {
      grid-area: links;
    }

    & li {
      & > a {
        display: inline-flex;
        position: relative;
        color: inherit;
        text-decoration: none;
        transition: $transition;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: transparent;
          transition: $transition;
        }

        &:hover {
          color: $secondary;

          &::before {
            background-color: $secondary;
          }
        }
      }
    }
  }


}
