<section class="exposition">
    <div class="exposition__cover">
        <div class="blur"></div>
        <div class="img">
            <picture>
                <source type="image/webp" media="(min-width: 1024px)" srcset="
                            ../exposition/cover-1920.webp,
                            ../exposition/cover-1920@2x.webp 2x,
                            ../exposition/cover-1920@3x.webp 3x">
                <source type="image/webp" srcset="
                            ../exposition/cover-1023@1x.webp 1x,
                            ../exposition/cover-1023@2x.webp 2x,
                            ../exposition/cover-1023@3x.webp 3x">
                <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                            ../exposition/cover-1920.jpg 1x,
                            ../exposition/cover-1920@2x.jpg 2x,
                            ../exposition/cover-1920@3x.jpg 3x">
                <source type="image/jpeg" srcset="
                            ../exposition/cover-1023@1x.jpg 1x,
                            ../exposition/cover-1023@2x.jpg 2x,
                            ../exposition/cover-1023@3x.jpg 3x">

                <img src="/../exposition/cover.jpg" alt="Фото с выставки">
            </picture>
        </div>
    </div>
    <div class="exposition__head">
        <div class="page__wrap">
            <p class="exposition__type">Выставка</p>
            <h1 class="exposition__title">«С юбилеем, профессор!»(к 85-летию профессора Г. Н. Айплатова) (6+)</h1>
            <div class="exposition__period">
                <time class="excursion__start-time" datetime="2022-04-16">16 апреля</time>
                <time class="excursion__end-time" datetime="2022-08-01">1 августа 2022</time>
            </div>
            <div class="exposition__place museum-area">
                <p class="museum-area__title">
                    <a href="#">
                        Музей истории и археологии
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </p>
                <ul class="museum-area__info-list">
                    <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 <a href="#modal1" class="modal-link">Режим работы</a></li>
                    <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Эшкинина, д. 10 А</li>
                </ul>
                <div class="museum-area__btn-wrap">
                    <a class="btn btn--main" href="#">Купить билет</a>
                    <a class="btn btn--secondary" href="#">
                        Все выставки
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <ul class="exposition__link-list">
                <li><a href="#">Обзор</a></li>
                <li><a href="#">Фото</a></li>
                <li><a href="#">Инфо</a></li>
            </ul>
        </div>
    </div>
    <div class="exposition__info">
        <div class="exposition__text">
                <p>16 апреля исполнилось 85 лет Геннадию Николаевичу Айплатову, марийскому учёному-историку, педагогу и общественному деятелю. К этой дате в Музее истории и археологии открылась выставка «С юбилеем, профессор!».</p>
                <p>Заслуженный деятель науки МАССР, лауреат Государственной премии РМЭ в области естественных и гуманитарных наук, заслуженный работник высшей школы РФ, Г. Н. Айплатов внёс большой вклад  в изучение различных проблем истории Марийского края XVI–XIX веков и становление Марийского государственного университета.</p>
                <p>На выставке представлены фотографии из семейного архива Айплатовых, начиная со школьных лет юбиляра и заканчивая настоящим временем. Выставка даёт представление о разных гранях личности Геннадия Николаевича: как учёного, преподавателя, общественного деятеля, мужа и отца, любителя природы.</p>
                <p>Всё меньше остаётся учёных и преподавателей старшего поколения, испытавших в жизни многие лишения и трудности, но, несмотря ни на что добившихся исполнения свое мечты – изучать историю родного народа. Подобные выставки и мероприятия, приуроченные к их открытию, – дань уважения этим замечательным людям, являющимся примером для молодого поколения.</p>
            </div>
        <div class="exposition__gallery">
            <div class="exposition__gallery-wrap swiper">
                <ul class="exposition__gallery-list swiper-wrapper">
                    <li class="swiper-slide">
                        <a href="../exposition/photo1.jpg">
                            <div class="img">
                                <picture>
                                    <source type="image/webp" srcset="
                            ../exposition/photo1-768@1x.webp 1x,
                            ../exposition/photo1-768@2x.webp 2x,
                            ../exposition/photo1-768@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                            ../exposition/photo1-768@1x.jpg 1x,
                            ../exposition/photo1-768@2x.jpg 2x,
                            ../exposition/photo1-768@3x.jpg 3x">
                                    <img src="../exposition/photo1.jpg" alt="">
                                </picture>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="../exposition/photo2.jpg">
                            <div class="img">
                                <picture>
                                    <source type="image/webp" srcset="
                            ../exposition/photo2-768@1x.webp 1x,
                            ../exposition/photo2-768@2x.webp 2x,
                            ../exposition/photo2-768@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                            ../exposition/photo2-768@1x.jpg 1x,
                            ../exposition/photo2-768@2x.jpg 2x,
                            ../exposition/photo2-768@3x.jpg 3x">
                                    <img src="../exposition/photo2.jpg" alt="">
                                </picture>
                            </div>
                        </a>
                    </li>
                    <li class="swiper-slide">
                        <a href="../exposition/photo3.jpg">
                            <div class="img">
                                <picture>
                                    <source type="image/webp" srcset="
                            ../exposition/photo3-768@1x.webp 1x,
                            ../exposition/photo3-768@2x.webp 2x,
                            ../exposition/photo3-768@3x.webp 3x">
                                    <source type="image/jpeg" srcset="
                            ../exposition/photo3-768@1x.jpg 1x,
                            ../exposition/photo3-768@2x.jpg 2x,
                            ../exposition/photo3-768@3x.jpg 3x">
                                    <img src="../exposition/photo3.jpg" alt="">
                                </picture>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="exposition__gallery-buttons">
                    <button class="swiper-button-prev swiper-button-prev--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-right"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-prev swiper-button-prev--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-right"></use>
                        </svg>
                    </button>
                </div>

            </div>

        </div>
        <div class="exposition__price">
            <p class="exposition__price-title">
                <a href="#">
                    Стоимость
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </p>
            <ul>
                <li><span>150 ₽</span> / Взрослые</li>
                <li><span>200 ₽</span> / С экскурсией</li>
                <li><span>0, 100</span> ₽ / Льготные</li>
                <li><span>150 ₽</span> / С экскурсией льготный</li>
            </ul>
        </div>
        <div class="exposition__visiting-rules">
            <p class="exposition__visiting-rules-title">
                <a href="#">
                    Правила посещения музея
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </p>
            <div class="exposition__visiting-notes">
                <p><span>Эта, а также другие выставки музея доступны для</span>
                    <a href="#">
                        людей с ограниченными возможностями здоровья&nbsp; <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="expositions page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Другие выставки музея</h2>
        <div class="expositions__time-filter">
            <p class="expositions__select-name">Фильтр:</p>
            <select class="select select--time-filter" form="expositions-filters">
                <option>Все</option>
                <option>Текущие</option>
                <option>Будущие</option>
                <option>Прошедшие</option>
            </select>
        </div>
        <div class="expositions__place-filter">
            <select class="select select--place-filter" form="expositions-filters">
                <option label="Музейный комплекс">Все музейные комплексы</option>
                <option>Национальный музей Республики Марий Эл им. Т. Евсеева</option>
                <option>Музей истории Православия </option>
                <option>Музей народно-прикладного искусства</option>
                <option>Музей ...</option>
            </select>
        </div>

        <form class="expositions__filters visually-hidden" id="expositions-filters"></form>
        <ul class="expositions__list">
            <li class="expositions__item exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image1-767@1x.webp 1x,
            ../expositions/image1-767@2x.webp 2x,
            ../expositions/image1-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image1-767@1x.jpg 1x,
            ../expositions/image1-767@2x.jpg 2x,
            ../expositions/image1-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image1.jpg" alt="Творцов вдохновляющая муза">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Творцов вдохновляющая муза (<span class="exposition__age">0</span>)</h3>
                        <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                        <p class="exposition__days">2.03 — 3.04</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                    <p class="exposition__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
                </a>
            </li>
            <li class="expositions__item  exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image2-767@1x.webp 1x,
            ../expositions/image2-767@2x.webp 2x,
            ../expositions/image2-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image2-767@1x.jpg 1x,
            ../expositions/image2-767@2x.jpg 2x,
            ../expositions/image2-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image2.jpg" alt="Выставка регионального этапа Международного конкурса детского рисунка">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Красота Божьего мира / выставка регионального этапа Международного конкурса детского рисунка <span>(0+)</span></h3>
                        <p class="exposition__place">Музей истории Православия </p>
                        <p class="exposition__days">2.03 — 3.04</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                </a>
            </li>
            <li class="expositions__item  exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image3-767@1x.webp 1x,
            ../expositions/image3-767@2x.webp 2x,
            ../expositions/image3-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image3-767@1x.jpg 1x,
            ../expositions/image3-767@2x.jpg 2x,
            ../expositions/image3-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image3.jpg" alt="передвижная выставка Музея-заповедника Кижи">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Калевала / передвижная выставка Музея-заповедника «Кижи» <span>(0+)</span></h3>
                        <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                        <p class="exposition__days">7.02 — 31.03</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                </a>

            </li>
            <li class="expositions__item  exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image4-767@1x.webp 1x,
            ../expositions/image4-767@2x.webp 2x,
            ../expositions/image4-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image4-767@1x.jpg 1x,
            ../expositions/image4-767@2x.jpg 2x,
            ../expositions/image4-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image4.jpg" alt="Солдаты трёх государств: четыре страницы из истории Царевококшайска в годы Первой мировой войны">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Солдаты трёх государств: четыре страницы из истории Царевококшайска в годы Первой мировой войны <span>(12+)</span></h3>
                        <p class="exposition__place">Музей истории Православия </p>
                        <p class="exposition__days">17.12 — 31.05</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                </a>

            </li>
            <li class="expositions__item  exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image5-767@1x.webp 1x,
            ../expositions/image5-767@2x.webp 2x,
            ../expositions/image5-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image5-767@1x.jpg 1x,
            ../expositions/image5-767@2x.jpg 2x,
            ../expositions/image5-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image5.jpg" alt="">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Тимофей Евсеев. Призвание / к 135-летию этнографа, основателя музея Т. Е. Евсеева</h3>
                        <p class="exposition__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                        <p class="exposition__days">1.02 — 10.12</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                </a>
            </li>
            <li class="expositions__item  exposition exposition--pushkincard">
                <a href="./exposition.html" class="expositions__item-link">
                    <p class="expositions__item-status"><span>Уже идёт</span></p>
                    <picture>
                        <source type="image/webp" srcset="
            ../expositions/image6-767@1x.webp 1x,
            ../expositions/image6-767@2x.webp 2x,
            ../expositions/image6-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../expositions/image6-767@1x.jpg 1x,
            ../expositions/image6-767@2x.jpg 2x,
            ../expositions/image6-767@3x.jpg 3x">
                        <img class="exposition__img" src="../expositions/image6.jpg" alt="Выставка работ людей с ограниченными возможностями здоровья">
                    </picture>
                    <div class="exposition__wrap-content">
                        <h3 class="exposition__title">Открывая мир / выставка работ людей с ограниченными возможностями здоровья <span>(0+)</span></h3>
                        <p class="exposition__place">Музей народно-прикладного искусства</p>
                        <p class="exposition__days">25.03 — 26.04</p>
                        <button class="btn btn--main">Купить билет</button>
                    </div>
                </a>

            </li>
        </ul>
    </div>
</section>