.exposition {

  & .page__cover {
    background-image: url("../exposition/cover.jpg");
  }

  &__period {
    @include mp(0 0 10px);
    @include h2;
    font-size: 20px;
    text-transform: none;
    color: $secondary;
    display: flex;
    column-gap: 30px;
    letter-spacing: unset;

    @media (min-width: $md-width) {
      font-size: 30px;
      column-gap: 45px;
      margin-bottom: 30px;
    }

    & time {
      &:last-child {
        position: relative;
        &::before {
          position: absolute;
          content: " — ";
          left: -24px;

          @media (min-width: $md-width) {
            left: -36px;
          }
        }

      }
    }

  }

  &__gallery-buttons {
    @media (min-width: $md-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }
  }

  &__gallery-wrap {



  }

  &__gallery-list {
    @include list();
    @include mp();

    & > li > a {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

      }
      &:hover,
      &:focus {
        .img {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    & > li > a .img {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 0.5);
        background-image: url("../icons/search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50 50;
        z-index: 5;
        transition: $transition;
        opacity: 0;
      }
    }
  }

  &__price {
    margin-bottom: 15px;

    @media (min-width: $md-width) {
      margin-bottom: 40px;
    }
  }

  &__price ul {
    position: relative;
    @include list();
    @include mp();
    padding-left: 30px;
    @include text-10;
    color: $dark-gray;

    @media (min-width: $md-width) {
      @include text-normal;
      padding-left: 40px;
    }

    @media (min-width: $lg-width) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/tabler-ticket.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $md-width) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__price li {
    @media (min-width: $lg-width) {
      width: 40%;
      flex-grow: 1;
    }
    & span {
      color: $dark;
    }
  }

  &__price-title {
    @include mp();
    @include h3;
    margin-bottom: 10px;

    @media (min-width: $md-width) {
      margin-bottom: 25px;
    }

    & a {
      color: inherit;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        width: 14px;
        height: 14px;
        transform: translateY(2px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }

  &__visiting-rules-title {
    @include mp();
    @include h3;
    margin-bottom: 10px;

    @media (min-width: $md-width) {
      margin-bottom: 25px;
    }

    & a {
      color: inherit;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        width: 14px;
        height: 14px;
        transform: translateY(2px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }

  &__visiting-notes {
    position: relative;
    @include mp();
    padding-left: 30px;
    @include text-10;
    color: $dark-gray;

    @media (min-width: $md-width) {
      @include text-normal;
      padding-left: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/accessible.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $md-width) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__visiting-notes p {
    @include text-10;

    @media (min-width: $md-width) {
      @include text-normal;
    }
    & span {
      display: block;
    }
    & a {
      @include title;
      color: $dark;
      display: inline;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        transform: translateY(4px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }
}
