.exposition {

  &__cover {
    position: relative;
    background-image: url("../exposition/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  & .blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
  }

  &__head {
    background-color: $superlight;
    padding-top: 15px;
    padding-bottom: 10px;
    background-image: url("../exposition/logo-bg.png");
    background-repeat: no-repeat;
    background-size: 275px 268px;
    background-position: right -120px center;

    @media (min-width: $md-width) {
      padding-top: 30px;
      padding-bottom: 25px;
    }

    @media (min-width: $xl-width) {
      background-position: right 10% center;
    }

  }

  &__head .page__wrap {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $lg-width) {
      grid-template-columns: 1fr 460px;
      grid-template-areas:
              "type type"
              "title period"
              "title place"
              "links place";
      column-gap: 50px;
    }
  }

  &__type {
    @include mp(0 0 10px);
    @include text-normal-caps;

    @media (min-width: $lg-width) {
      margin-bottom: 30px;
      grid-area: type;
    }
  }

  &__title {
    @include mp(0 0 30px);
    @include h1;

    @media (min-width: $lg-width) {
      margin-bottom: 87px;
      grid-area: title;
    }
  }

  &__period {
    @include mp(0 0 10px);
    @include h2;
    font-size: 20px;
    text-transform: none;
    color: $secondary;
    display: flex;
    column-gap: 30px;
    letter-spacing: unset;

    @media (min-width: $md-width) {
      font-size: 30px;
      column-gap: 45px;
      margin-bottom: 30px;
    }

    @media (min-width: $lg-width) {
      grid-area: period;
    }

    & time {
      &:last-child {
        position: relative;
        &::before {
          position: absolute;
          content: " — ";
          left: -24px;

          @media (min-width: $md-width) {
            left: -36px;
          }
        }

      }
    }

  }

  &__place {
    @media (min-width: $md-width) {
      align-self: end;
    }

    @media (min-width: $lg-width) {
      grid-area: place;
    }
  }

  &__link-list {
    @include list();
    @include mp();
    display: flex;
    flex-wrap: wrap;
    @include text-bold-caps;
    color: $dark-gray;
    gap: 20px;

    @media (min-width: $lg-width) {
      grid-area: links;
    }

    & li {
      & > a {
        display: inline-flex;
        position: relative;
        color: inherit;
        text-decoration: none;
        transition: $transition;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background-color: transparent;
          transition: $transition;
        }

        &:hover {
          color: $secondary;

          &::before {
            background-color: $secondary;
          }
        }
      }
    }
  }

  &__info {
    background-color: $light;
    padding-top: 10px;
    padding-bottom: 30px;

    @media (min-width: $md-width) {
      padding-top: 30px;
      padding-bottom: 60px;
    }

    @media (min-width: $lg-width) {
      display: grid;
      grid-template-columns: 1fr 480px;
      column-gap: 50px;
      grid-template-areas:
              "text price"
              "text rules"
              "text ."
              "gallery gallery";
    }

    @media (min-width: $xl-width) {
      grid-template-columns: auto auto;
    }
  }

  &__text {
    @include text-10;
    @include container;

    @media (min-width: $md-width) {
      @include text-normal;
    }

    @media (min-width: $lg-width) {
      padding-right: 0;
      grid-area: text;
    }

    @media (min-width: $xl-width) {
      margin: 0;
      justify-self: end;
      width: 690px;
    }
  }

  &__text p {
    margin-top: 0;
  }

  &__gallery {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;

    @media (min-width: $lg-width) {
      grid-area: gallery;
      margin-top: 60px;
    }
  }

  &__gallery-buttons {
    @media (min-width: $md-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 35px;
    }
  }

  &__gallery-wrap {
    @include container;

    &.swiper {
      overflow: visible;
    }

    & .swiper-button-next,
    & .swiper-button-prev {
      @include btn-reset;
      display: flex;
      width: 32px;
      height: 32px;

      &--mobile {
        @media (min-width: $md-width) {
          display: none;
        }
      }

      &--desktop {
        display: none;

        @media (min-width: $md-width) {
          display: block;
        }
      }

      @media (min-width: $md-width) {
        position: static;
        top: unset;
        right: unset;
        left: unset;
        bottom: unset;
      }

      &::after {
        display: none;
      }

      & .icon {
        width: 32px;
        height: 16px;

        @media (min-width: $md-width) {
          width: 102px;
        }
      }

      & use.icon__symbol {
        fill: $secondary;
      }
    }

    & .swiper-button-prev {
      left: 10px;
    }

    & .swiper-button-next {
      right: 10px;
    }
  }

  &__gallery-list {
    @include list();
    @include mp();

    & > li > a {
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

      }
      &:hover,
      &:focus {
        .img {
          &::before {
            opacity: 1;
          }
        }
      }
    }

    & > li > a .img {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark, 0.5);
        background-image: url("../icons/search.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50 50;
        z-index: 5;
        transition: $transition;
        opacity: 0;
      }
    }
  }

  &__price {
    @include container;
    margin-bottom: 15px;

    @media (min-width: $md-width) {
      margin-bottom: 40px;
    }

    @media (min-width: $lg-width) {
      grid-area: price;
      padding-left: 0;
    }

    @media (min-width: $xl-width) {
      margin: 0 0 40px 0;
      width: 460px;
      justify-self: start;
    }
  }

  &__price ul {
    position: relative;
    @include list();
    @include mp();
    padding-left: 30px;
    @include text-10;
    color: $dark-gray;

    @media (min-width: $md-width) {
      @include text-normal;
      padding-left: 40px;
    }

    @media (min-width: $lg-width) {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/tabler-ticket.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $md-width) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__price li {
    @media (min-width: $lg-width) {
      width: 40%;
      flex-grow: 1;
    }
    & span {
      color: $dark;
    }
  }

  &__price-title {
    @include mp();
    @include h3;
    margin-bottom: 10px;

    @media (min-width: $md-width) {
      margin-bottom: 25px;
    }

    & a {
      color: inherit;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        width: 14px;
        height: 14px;
        transform: translateY(2px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }

  &__visiting-rules-title {
    @include mp();
    @include h3;
    margin-bottom: 10px;

    @media (min-width: $md-width) {
      margin-bottom: 25px;
    }

    & a {
      color: inherit;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        width: 14px;
        height: 14px;
        transform: translateY(2px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }

  &__visiting-rules {
    @include container;

    @media (min-width: $lg-width) {
      grid-area: rules;
      padding-left: 0;
    }

    @media (min-width: $xl-width) {
      margin: 0;
      width: 460px;
      justify-self: start;
    }
  }

  &__visiting-notes {
    position: relative;
    @include mp();
    padding-left: 30px;
    @include text-10;
    color: $dark-gray;

    @media (min-width: $md-width) {
      @include text-normal;
      padding-left: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      background-image: url("../icons/accessible.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (min-width: $md-width) {
        width: 24px;
        height: 24px;
      }
    }
  }

  &__visiting-notes p {
    @include text-10;

    @media (min-width: $md-width) {
      @include text-normal;
    }
    & span {
      display: block;
    }
    & a {
      @include title;
      color: $dark;
      display: inline;
      text-decoration: none;
      transition: $transition;

      &:hover,
      &:focus {
        color: $secondary;

        & use.icon__symbol {
          stroke: $secondary;
        }
      }

      & .icon {
        display: inline-block;
        width: 14px;
        height: 14px;
        transform: translateY(4px);

        @media (min-width: $md-width) {
          width: 20px;
          height: 20px;
          transform: translateY(5px);
        }
      }

      & use.icon__symbol {
        stroke: $dark;
      }
    }
  }
}
