<section class="exposition">
    <div class="exposition__cover">
        <div class="blur"></div>
        <div class="img">
            <picture>
                <source type="image/webp" media="(min-width: 1024px)" srcset="
                            ../exposition/cover-1920.webp,
                            ../exposition/cover-1920@2x.webp 2x,
                            ../exposition/cover-1920@3x.webp 3x">
                <source type="image/webp" srcset="
                            ../exposition/cover-1023@1x.webp 1x,
                            ../exposition/cover-1023@2x.webp 2x,
                            ../exposition/cover-1023@3x.webp 3x">
                <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                            ../exposition/cover-1920.jpg 1x,
                            ../exposition/cover-1920@2x.jpg 2x,
                            ../exposition/cover-1920@3x.jpg 3x">
                <source type="image/jpeg" srcset="
                            ../exposition/cover-1023@1x.jpg 1x,
                            ../exposition/cover-1023@2x.jpg 2x,
                            ../exposition/cover-1023@3x.jpg 3x">

                <img src="/../exposition/cover.jpg" alt="Фото с выставки">
            </picture>
        </div>
    </div>
    <div class="exposition__head">
        <div class="page__wrap">
            <p class="exposition__type">Выставка</p>
            <h1 class="exposition__title">«С юбилеем, профессор!»(к 85-летию профессора Г. Н. Айплатова) (6+)</h1>
            <div class="exposition__period">
                <time class="excursion__start-time" datetime="2022-04-16">16 апреля</time>
                <time class="excursion__end-time" datetime="2022-08-01">1 августа 2022</time>
            </div>
            <div class="exposition__place museum-area">
                <p class="museum-area__title">
                    <a href="#">
                        Музей истории и археологии
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </p>
                <ul class="museum-area__info-list">
                    <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 <a href="#">Режим работы</a></li>
                    <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Эшкинина, д. 10 А</li>
                </ul>
                <div class="museum-area__btn-wrap">
                    <a class="btn btn--main" href="#">Купить билет</a>
                    <a class="btn btn--open-all" href="#">Все выставки</a>
                </div>
            </div>


        </div>
    </div>
</section>