<section class="lectures lectures--section">
    <div class="lectures__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Лекции</h2>
        </div>
        <div class="lectures__type-filter">
            <div class="lectures__tabs-wrap">
                <fieldset class="filter filter--tabs-status">
                    <legend class="visually-hidden">Тип лекции</legend>
                    <div class="form__field">
                        <input type="radio" id="all" name="lecture-type" checked>
                        <label for="all">Все</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="archeology" name="lecture-type">
                        <label for="archeology">Археология</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="history" name="lecture-type">
                        <label for="history">История</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="ethnography" name="lecture-type">
                        <label for="ethnography">Этнография</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="nature" name="lecture-type">
                        <label for="nature">Природа</label>
                    </div>
                    <div class="form__field">
                        <input type="radio" id="art" name="lecture-type">
                        <label for="art">Искусство</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="lectures__content">
        <ul class="lectures__list">
            <li class="lectures__item lecture lecture--pushkincard">
                <p class="lectures__item-type"><span>встреча</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../lectures/image1-767@1x.webp 1x,
            ../lectures/image1-767@2x.webp 2x,
            ../lectures/image1-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../lectures/image1-767@1x.jpg 1x,
            ../lectures/image1-767@2x.jpg 2x,
            ../lectures/image1-767@3x.jpg 3x">
                    <img class="lecture__img" src="../lectures/image1.jpg" alt="">
                </picture>
                <div class="lecture__wrap-content">
                    <h3 class="lecture__title">Творческая встреча с фоторедактором Андреем Поликановым (12+)</h3>
                    <p class="lecture__place">Культурно-выставочный центр «Башня»</p>
                    <p class="lecture__days">15.02 — 30.12</p>
                    <div class="lecture__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Бесплатно</a>
                    </div>
                </div>
                <p class="lecture__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="lectures__item program">
                <p class="lectures__item-type"><span>ИСТОРИЧЕСКИЕ ДЕБАТЫ</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../lectures/image2-767@1x.webp 1x,
            ../lectures/image2-767@2x.webp 2x,
            ../lectures/image2-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../lectures/image2-767@1x.jpg 1x,
            ../lectures/image2-767@2x.jpg 2x,
            ../lectures/image2-767@3x.jpg 3x">
                    <img class="lecture__img" src="../lectures/image2.jpg" alt="">
                </picture>
                <div class="lecture__wrap-content">
                    <h3 class="lecture__title">ИСТОРИЧЕСКИЕ ДЕБАТЫ</h3>
                    <p class="lecture__place">Музей истории и археологии</p>
                    <p class="lecture__days">01.03 — 31.05</p>
                    <div class="lecture__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
            <li class="lectures__item program">
                <p class="lectures__item-type"><span>экскурсия-лекция</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../lectures/image3-767@1x.webp 1x,
            ../lectures/image3-767@2x.webp 2x,
            ../lectures/image3-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../lectures/image3-767@1x.jpg 1x,
            ../lectures/image3-767@2x.jpg 2x,
            ../lectures/image3-767@3x.jpg 3x">
                    <img class="lecture__img" src="../lectures/image3.jpg" alt="">
                </picture>
                <div class="lecture__wrap-content">
                    <h3 class="lecture__title">В рамках акции «Ночь географии»</h3>
                    <p class="lecture__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="lecture__days">04.06</p>
                    <div class="lecture__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Бесплатно</a>
                    </div>
                </div>
            </li>
        </ul>
        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>