<section class="collection-exhibit">
    <div class="collection-exhibit__head">
        <div class="collection-exhibit__head-wrap">
            <time class="collection-exhibit__type">предметы быта и этнографии</time>
            <h1 class="collection-exhibit__title">Украшение "ШОЙ ПИДЫШ" (мар.)</h1>
        </div>
    </div>
    <div class="collection-exhibit__text">
        <p>Марийское шейно-нагрудное женское праздничное украшение. Основа в форме трапеции, из ткани, украшен монетами, низками бисера, бусинами.</p>
        <dl>
            <div>
                <dt>Регистрационный номер:</dt>
                <dd>10076727</dd>
            </div>

            <div>
                <dt>Место обнаружения:</dt>
                <dd>Вятско-Полянский район, Кировской области</dd>
            </div>
            <div>
                <dt>Музей:</dt>
                <dd>Национальный музей Республики Марий Эл им. Т. Евсеева</dd>
            </div>
            <div>
                <dt>Типология:</dt>
                <dd>предметы прикладного искусства, быта и этнографии</dd>
            </div>
            <div>
                <dt>Источник получения:</dt>
                <dd>Собственник</dd>
            </div>
            <div>
                <dt>Размеры:</dt>
                <dd>12 х 15 см</dd>
            </div>
            <div>
                <dt>Технологии:</dt>
                <dd>ткань, металл, стекло, шитье, низание</dd>
            </div>
        </dl>
    </div>
    <div class="collection-exhibit__img">
        <div class="img">
            <picture>
                <source type="image/webp" srcset="
        ../collection-exhibit/image1-767@1x.webp 1x,
        ../collection-exhibit/image1-767@2x.webp 2x,
        ../collection-exhibit/image1-767@3x.webp 3x">
                <source type="image/jpeg" srcset="
        ../collection-exhibit/image1-767@1x.jpg 1x,
        ../collection-exhibit/image1-767@2x.jpg 2x,
        ../collection-exhibit/image1-767@3x.jpg 3x">
                <img class="exposition__img" src="../collection-exhibit/image1.jpg" alt="">
            </picture>
        </div>

    </div>
</section>
<div class="collection-exhibit__btn-wrap">

</div>
<section class="collections collections--section page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Похожие экспонаты</h2>
        <ul class="collections__list">
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image1-767@1x.webp 1x,
            ../collections/image1-767@2x.webp 2x,
            ../collections/image1-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image1-767@1x.jpg 1x,
            ../collections/image1-767@2x.jpg 2x,
            ../collections/image1-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image1.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШОЙ ПИДЫШ" (мар.)</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image2-767@1x.webp 1x,
            ../collections/image2-767@2x.webp 2x,
            ../collections/image2-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image2-767@1x.jpg 1x,
            ../collections/image2-767@2x.jpg 2x,
            ../collections/image2-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image2.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "КЁРЖГЫЛ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image3-767@1x.webp 1x,
            ../collections/image3-767@2x.webp 2x,
            ../collections/image3-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image3-767@1x.jpg 1x,
            ../collections/image3-767@2x.jpg 2x,
            ../collections/image3-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image3.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШЫРКАМА" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
    </div>
</section>