<section class="guides">
    <div class="guides__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Внештатным экскурсоводам</h2>
        </div>
    </div>
    <div class="guides__content useful-links">
        <ul class="useful-links__list">
            <li class="useful-links__item">
                <a class="useful-links__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../guides/courses-and-internships-767@1x.webp 1x,
            ../guides/courses-and-internships-767@2x.webp 2x,
            ../guides/courses-and-internships-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../guides/courses-and-internships-767@1x.jpg 1x,
            ../guides/courses-and-internships-767@2x.jpg 2x,
            ../guides/courses-and-internships-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../guides/courses-and-internships.jpg" alt="Курсы и стажировки">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Курсы и стажировки</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="useful-links__item">
                <a class="useful-links__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../guides/lecture-halls-767@1x.webp 1x,
            ../guides/lecture-halls-767@2x.webp 2x,
            ../guides/lecture-halls-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../guides/lecture-halls-767@1x.jpg 1x,
            ../guides/lecture-halls-767@2x.jpg 2x,
            ../guides/lecture-halls-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../guides/lecture-halls.jpg" alt="Лектории">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Лектории</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="useful-links__item">
                <a class="useful-links__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../guides/terms-of-cooperation-767@1x.webp 1x,
            ../guides/terms-of-cooperation-767@2x.webp 2x,
            ../guides/terms-of-cooperation-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../guides/terms-of-cooperation-767@1x.jpg 1x,
            ../guides/terms-of-cooperation-767@2x.jpg 2x,
            ../guides/terms-of-cooperation-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../guides/terms-of-cooperation.jpg" alt="Условия сотрудничества">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Условия сотрудничества</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="useful-links__item">
                <a class="useful-links__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../guides/freelancetour-guides-767@1x.webp 1x,
            ../guides/freelancetour-guides-767@2x.webp 2x,
            ../guides/freelancetour-guides-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../guides/freelancetour-guides-767@1x.jpg 1x,
            ../guides/freelancetour-guides-767@2x.jpg 2x,
            ../guides/freelancetour-guides-767@3x.jpg 3x">
                            <img class="useful-links__item-img" src="../guides/freelancetour-guides.jpg" alt="Внештатные экскурсоводы">
                        </picture>
                    </div>

                    <h3 class="useful-links__title">
                        <span>Внештатные экскурсоводы</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
    </div>
</section>
<section class="guides__how">
    <div class="page__wrap">
        <span>Карьера</span>
        <h2>Как работать внештатным экскурсоводом</h2>
        <div class="text">
            <p>Работа внештатным гидом может быть интересной и полезной профессиональной деятельностью.</p>
            <p>Если вам нравится путешествовать, нравится делиться информацией с другими людьми и вы любите историю и культуру, вы можете преуспеть в качестве внештатного гида. Изучение того, как стать одним из них и как работать в качестве одного из них, может быть полезной информацией, если вы заинтересованы в продолжении этой карьеры.</p>
            <p>Получение навыков, которые позволят вам преуспеть в качестве внештатного гида, особенно важно для того, чтобы получить работу в этой роли.</p>
            <p>У нас вы сможете получить навыки внештатного экскурсовода, набираясь опыта во время прохождения курсов, прослушивания лекций и стажировки.</p>
        </div>
        <div class="img">
            <picture>
                <source type="image/webp" srcset="
            ../guides/how-767@1x.webp 1x,
            ../guides/how-767@2x.webp 2x,
            ../guides/how-767@3x.webp 3x">
                <source type="image/jpeg" srcset="
            ../guides/how-767@1x.jpg 1x,
            ../guides/how-767@2x.jpg 2x,
            ../guides/how-767@3x.jpg 3x">
                <img class="useful-links__item-img" src="../guides/how.png" alt="">
            </picture>
        </div>

    </div>
</section>