<section class="excursions excursions--section page__section">
  <div class="page__wrap">
    <h2 class="page__subtitle">Популярные экскурсии</h2>
    <fieldset class="form__fieldset form__fieldset--excursion-type">
      <legend class="visually-hidden">Тип программы</legend>
      <select class="form__select" form="excursions-filters">
        <option>Все</option>
        <option>Тип 1</option>
        <option>Тип 2</option>
        <option>Тип 3</option>
      </select>
    </fieldset>
    <form class="excursions__filters visually-hidden" id="excursions-filters"></form>
    <ul class="excursions__list">
      <li class="excursions__item excursion">
        <p class="excursions__item-type"><span>Музейно-образовательная программа</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image1-767@1x.webp 1x,
            ../excursions/image1-767@2x.webp 2x,
            ../excursions/image1-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image1-767@1x.jpg 1x,
            ../excursions/image1-767@2x.jpg 2x,
            ../excursions/image1-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image1.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">Финно-угры: кто они? (<span class="excursion__age">6</span>)</h3>
          <p class="excursion__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
          <p class="excursion__days">01.03 — 28.12</p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
        <p class="excursion__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
      </li>
      <li class="excursions__item excursion excursion--pushkincard">
        <p class="excursions__item-type"><span>Обзорная экскурсия</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image2-767@1x.webp 1x,
            ../excursions/image2-767@2x.webp 2x,
            ../excursions/image2-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image2-767@1x.jpg 1x,
            ../excursions/image2-767@2x.jpg 2x,
            ../excursions/image2-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image2.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">Ворвись в историю! (<span class="excursion__age">6</span>)</h3>
          <p class="excursion__place">Музей истории и археологии</p>
          <p class="excursion__days">15.02 — 30.12</p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
      </li>
      <li class="excursions__item excursion excursion--pushkincard">
        <p class="excursions__item-type"><span>экскурсия</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image3-767@1x.webp 1x,
            ../excursions/image3-767@2x.webp 2x,
            ../excursions/image3-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image3-767@1x.jpg 1x,
            ../excursions/image3-767@2x.jpg 2x,
            ../excursions/image3-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image3.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">Искусство на высоте</h3>
          <p class="excursion__place">Благовещенская башня</p>
          <p class="excursion__days"></p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
      </li>
      <li class="excursions__item excursion">
        <p class="excursions__item-type"><span>Мастер-класс</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image4-767@1x.webp 1x,
            ../excursions/image4-767@2x.webp 2x,
            ../excursions/image4-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image4-767@1x.jpg 1x,
            ../excursions/image4-767@2x.jpg 2x,
            ../excursions/image4-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image4.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">Мастерская редких ремесел: каллиграфия</h3>
          <p class="excursion__place">Музей истории Православия</p>
          <p class="excursion__days"></p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
      </li>
      <li class="excursions__item excursion">
        <p class="excursions__item-type"><span>музейно-образовательная программа</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image5-767@1x.webp 1x,
            ../excursions/image5-767@2x.webp 2x,
            ../excursions/image5-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image5-767@1x.jpg 1x,
            ../excursions/image5-767@2x.jpg 2x,
            ../excursions/image5-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image5.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">Марийский костюм (6+)</h3>
          <p class="excursion__place">Национальный музей Республики Марий Эл им. Т. Евсеева (<span class="excursion__age">6</span>)</p>
          <p class="excursion__days">01.03 — 28.12</p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
      </li>
      <li class="excursions__item excursion excursion--pushkincard">
        <p class="excursions__item-type"><span>Уже идёт</span></p>
        <picture>
          <source type="image/webp" srcset="
            ../excursions/image6-767@1x.webp 1x,
            ../excursions/image6-767@2x.webp 2x,
            ../excursions/image6-767@3x.webp 3x">
          <source type="image/jpeg" srcset="
            ../excursions/image6-767@1x.jpg 1x,
            ../excursions/image6-767@2x.jpg 2x,
            ../excursions/image6-767@3x.jpg 3x">
          <img class="excursion__img" src="../excursions/image6.jpg" alt="">
        </picture>
        <div class="excursion__wrap-content">
          <h3 class="excursion__title">От башни к башне (<span class="excursion__age">12</span>)</h3>
          <p class="excursion__place">Благовещенская башня</p>
          <p class="excursion__days">22.02 — 29.12</p>
          <div class="excursion__btn-wrap">
            <a class="btn btn--small-btn" href="#">Сборная группа</a>
            <a class="btn btn--small-btn" href="#">Организованная группа</a>
          </div>
        </div>
      </li>
    </ul>
    <a class="link link--more" href="#">Показать ещё</a>
  </div>
</section>
