<section class="faq faq--page">
    <div class="faq__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Часто задаваемые вопросы</h1>
        </div>
    </div>
    <div class="faq__content">
        <p class="faq__note">
            Если вы не нашли нужной информации, задайте ваш вопрос, воспользовавшись формой обратной связи <a href="#">ниже</a>
        </p>
        <ul class="faq__list faq__list--showoneitem">
            <li class="faq__item">
                <h3 class="question">Какие музеи входят в комплекс «Национальный музей Республики Марий Эл имени Тимофея Евсеева»?</h3>
                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </li>
            <li class="faq__item">
                <h3 class="question">Кто такой Тимофей Евсеев? Почему музей носит его имя?</h3>
                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </li>
            <li class="faq__item">
                <h3 class="question">Что посмотреть в музее?</h3>
                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </li>
            <li class="faq__item">
                <h3 class="question">График работы</h3>
                <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </li>
            <li class="faq__item">
                <h3 class="question">Можно ли расплатиться банковской картой?</h3>
                <div class="answer">Безналичный расчет по банковским картам действует на всех площадках музея.</div>
            </li>
        </ul>
        <div class="faq__form">
            <h2 class="page__subtitle">Форма обратной связи</h2>
            <form class="form form--feedback">
                <div class="form__field form__field--theme">
                    <select>
                        <option>Тема 1</option>
                        <option>Тема 2</option>
                        <option>Тема 3</option>
                    </select>
                </div>
                <div class="form__field form__field--name">
                    <input type="text" placeholder="Ваше имя *" name="username" value="" required>
                </div>
                <div class="form__field form__field--email">
                    <input type="email" placeholder="E-mail *" name="useremail" value="" inputmode="email" required>
                </div>
                <div class="form__field form__field--message">
                    <textarea rows="5" placeholder="Ваше сообщение"></textarea>
                </div>
                <button class="btn btn--main" type="submit">Отправить</button>
            </form>
        </div>
    </div>
</section>