.faq {
  &--section {
    width: 100%;
    position: relative;
    background-color: $superlight;
    overflow: hidden;

    @media (min-width: $md-width) {
      padding-top: 60px;
      padding-bottom: 60px;
    }

    & .figure--triangle-yellow {
      display: none;

      @media (min-width: $lg-width) {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        aspect-ratio: 1 / 1;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: $status;
        transform: translateX(0px);
      }
    }

    & .figure--cross-with-triangle {
      display: none;
      @media (min-width: $lg-width) {
        display: block;
        position: absolute;
        top: 93px;
        right: 50%;
        width: 228px;
        height: 379px;
        transform: translateX(485px);
        & use.icon__symbol {
          stroke: $secondary;
          fill: $secondary;
        }
      }
    }



    & .faq__list-wrap {
      @media (min-width: $lg-width) {
        position: relative;
        z-index: 5;
        width: 660px;
      }
    }

    & .faq__btn-wrap {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 30px;

      @media (min-width: $md-width) {
        gap: 30px;
        width: 460px;
        margin-top: 50px;
      }



      & .btn {
        flex-grow: 1;
        min-height: 35px;

        @media (min-width: $md-width) {
          min-height: 45px;
        }
      }
    }
  }

  &__list {
    @include list();

  }

  &__item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $gray;

    &:last-child {
      margin-bottom: 0;
    }

    & .question {
      @include mp();
      @include text-accent;
      padding-right: 45px;
      position: relative;
      cursor: pointer;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("../icons/chevron-down-gray.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: $transition;
      }

      &:hover {
        color: $secondary;
        &::before {
          background-image: url("../icons/chevron-down-blue.svg");
        }
      }

      &.active {
        &::before {
          transform: rotate(180deg);
        }
      }
    }

    & .answer {
      display: none;
      padding: 15px 0 0 0;
      @include text-12;

      @media (min-width: $md-width) {
        @include text-normal;
      }
    }
  }


}

.faq--page {
  & .faq {
    &__head {
      background-color: $superlight;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 15px;

      @media (min-width: $lg-width) {
        padding-top: 30px;
        padding-bottom: 30px;
        margin-bottom: 40px;
      }

      & .page__subtitle {
        margin-bottom: 0;
      }

      & .page__wrap {
        margin-bottom: 0;
      }
    }

    &__content {
      @include container;
      display: grid;
      grid-template-columns: 1fr;

      @media (min-width: $lg-width) {
        grid-template-columns: 1fr 460px;
        column-gap: 50px;
        align-items: flex-start;
        grid-template-areas:
                "list note"
                "list form";
      }
    }

    &__note {
      margin: 0;
      @include text-12;
      padding-left: 30px;
      background-image: url("../icons/faq.svg");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      background-position: top left;
      margin-bottom: 20px;

      @media (min-width: $lg-width) {
        @include text-normal;
        padding-left: 40px;
        background-size: 24px 24px;
        grid-area: note;
      }

      & a {
        color: $main;
        text-decoration: none;

        @media (min-width: $lg-width) {
          display: none;
        }

        &:hover,
        &:focus {
          color: $main-dark;
          text-decoration: underline;
        }
      }
    }

    &__list {
      margin-bottom: 30px;

      @media (min-width: $lg-width) {
        grid-area: list;
        margin-bottom: 0;
      }
    }

    &__form {
      @media (min-width: $lg-width) {
        padding-left: 40px;
        grid-area: form;
      }

      & .page__subtitle {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
      }
    }
  }

  & .form--feedback {
    @media (min-width: $lg-width) {
      grid-template-columns: 1fr;
      grid-template-areas:
            "theme"
            "name"
            "email"
            "message"
            "button";
    }
  }
}