<section class="faq faq--section page__section">
    <div class="figure figure--triangle-yellow"></div>
    <svg class="icon figure figure--cross-with-triangle" width="228px" height="379px" fill="none">
        <use class="icon__symbol" xlink:href="#icon-figure-cross-with-triangle"></use>
    </svg>
    <div class="page__wrap">
        <h2 class="page__subtitle">Часто задаваемые вопросы</h2>
        <div class="faq__list-wrap">
            <ul class="faq__list faq__list--showoneitem">
                <li class="faq__item">
                    <h3 class="question">Какие музеи входят в комплекс «Национальный музей Республики Марий Эл имени Тимофея Евсеева»?</h3>
                    <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
                </li>
                <li class="faq__item">
                    <h3 class="question">Кто такой Тимофей Евсеев? Почему музей носит его имя?</h3>
                    <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
                </li>
                <li class="faq__item">
                    <h3 class="question">Что посмотреть в музее?</h3>
                    <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
                </li>
                <li class="faq__item">
                    <h3 class="question">График работы</h3>
                    <div class="answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
                </li>
                <li class="faq__item">
                    <h3 class="question">Можно ли расплатиться банковской картой?</h3>
                    <div class="answer">Безналичный расчет по банковским картам действует на всех площадках музея.</div>
                </li>
            </ul>
            <div class="faq__btn-wrap">
                <a class="btn btn--main">Задать свой вопрос</a>
                <a class="btn btn--secondary">
                    Все вопросы
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </div>

        </div>

    </div>
</section>