.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__search-btn {
    @include btn-reset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    transition: $transition;
    outline-color: $main;

    & .icon {
      width: 20px;
      height: 20px;
    }

    & use.icon__symbol {
      stroke: $dark-gray;
    }

    &:hover,
    &:focus {
      & use.icon__symbol {
        stroke: $main-dark;
      }
    }
  }
}