<nav class="main-nav">
    <include src="./src/components/blocks/burger/burger.html"></include>
    <include src="./src/components/blocks/logo/logo.html"></include>
    <div class="main-nav__btn-wrap">
        <button class="main-nav__search-btn">
            <svg class="icon" width="20px" height="20px">
                <use class="icon__symbol" xlink:href="#icons-search"></use>
            </svg>
        </button>
        <include src="./src/components/blocks/visually-impaired/visually-impaired.html"></include>
    </div>
    <!--Строка поиска-->
    <div class="main-header__search">
        <include src="./src/components/blocks/search/search.html"></include>
    </div>
    <div class="main-header__button-wrap">
        <a class="btn btn--buyticket" href="#">Купить билет</a>
        <include src="./src/components/blocks/languages/languages.html"></include>
    </div>

</nav>