<div id="modal1" class="modal museum-area__working-mode--modal">
    <div class="modal__body">
        <div class="modal__content">
            <a href="#" class="close-modal">
                <svg class="icon" width="18px" height="18px" fill="none">
                    <use class="icon__symbol" xlink:href="#icon-close"></use>
                </svg>
            </a>
            <h2 class="modal__title">Режим работы музея</h2>
            <div class="modal__text">
                <ul class="museum-area__working-list">
                    <li><span>Пн</span> / Выходной</li>
                    <li><span>Вт-Вс</span> / 10:00 - 18:00</li>
                </ul>
            </div>
        </div>
    </div>
</div>
