<section class="museums-mariel museums-mariel--page">
    <div class="museums-mariel__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Музеи Марий Эл</h1>
        </div>
    </div>
    <div class="museums-mariel__content">
        <ul class="museums-mariel__list">
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel1-767@1x.webp 1x,
            ../museums-mariel/museums-mariel1-767@2x.webp 2x,
            ../museums-mariel/museums-mariel1-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel1-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel1-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel1-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel1.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Юринский историко-художественный музей им. Г.П. Лосева</h3>
                        <p class="museum-mariel__about">Историко-художественный музей им. Г.П. Лосева МБУК «Районный социокультурный комплекс» Юринского муниципального района – музей в п. Юрино Юринского района Марий Эл.</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 9:00 до 16:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">пгт. Юрино, ул. Касаткина, 7</li>
                        </ul>
                    </div>
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>

            </li>
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel2-767@1x.webp 1x,
            ../museums-mariel/museums-mariel2-767@2x.webp 2x,
            ../museums-mariel/museums-mariel2-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel2-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel2-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel2-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel2.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Музей истории города Йошкар-Олы</h3>
                        <p class="museum-mariel__about">Музей истории города Йошкар-Олы был открыт 30 сентября 1996 года. Разместился музей в доме известного царевококшайского купца-лесопромышленника Т.В. Чулкова.</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 10:00 до 18:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">г. Йошкар-Ола, ул. Вознесенская, д. 39</li>
                        </ul>

                    </div>
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>

            </li>
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel3-767@1x.webp 1x,
            ../museums-mariel/museums-mariel3-767@2x.webp 2x,
            ../museums-mariel/museums-mariel3-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel3-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel3-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel3-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel3.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Музей сатиры и юмора им. Остапа Бендера</h3>
                        <p class="museum-mariel__about">Музей сатиры и юмора им. Остапа Бендера − музей в г. Козьмодемьянск Горномарийского района Марий Эл. Входит в состав Козьмодемьянского культурно-исторического музейного комплекса и является памятником архитектуры регионального значения.</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 8:30 до 17:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">г. Козьмодемьянск, ул. Советская, 7</li>
                        </ul>

                    </div>
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel4-767@1x.webp 1x,
            ../museums-mariel/museums-mariel4-767@2x.webp 2x,
            ../museums-mariel/museums-mariel4-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel4-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel4-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel4-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel4.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Музей купеческого быта им. А.В. Муравьёва</h3>
                        <p class="museum-mariel__about">Располагается музей в старинном купеческом особняке с цокольным этажом, антресолями и мезонином. Дом был построен в 1897 г., принадлежал купцу-лесопромышленнику Александру Ивановичу Шишокину.</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 8:30 до 17:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">г. Козьмодемьянск, ул. Советская, 58</li>
                        </ul>

                    </div>
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>

            </li>
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel5-767@1x.webp 1x,
            ../museums-mariel/museums-mariel5-767@2x.webp 2x,
            ../museums-mariel/museums-mariel5-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel5-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel5-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel5-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel5.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Этнографический музей под открытым небом им. В.И. Романова</h3>
                        <p class="museum-mariel__about">Этнографический музей под открытым небом был открыт летом 1983 г. Это событие было приурочено к 400-летию Козьмодемьянска.</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 8:30 до 17:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">г. Козьмодемьянск, ул. Промышленная, 2</li>
                        </ul>

                    </div>
                </a>
            </li>
            <li class="museums-mariel__item museum-mariel">
                <a href="./museum-mariel.html" class="museums-mariel__item-link">
                    <picture>
                        <source type="image/webp" srcset="
            ../museums-mariel/museums-mariel6-767@1x.webp 1x,
            ../museums-mariel/museums-mariel6-767@2x.webp 2x,
            ../museums-mariel/museums-mariel6-767@3x.webp 3x">
                        <source type="image/jpeg" srcset="
            ../museums-mariel/museums-mariel6-767@1x.jpg 1x,
            ../museums-mariel/museums-mariel6-767@2x.jpg 2x,
            ../museums-mariel/museums-mariel6-767@3x.jpg 3x">
                        <img class="museum-mariel__img" src="../museums-mariel/museums-mariel6.jpg" alt="">
                    </picture>
                    <div class="museum-mariel__info">
                        <h3 class="museum-mariel__title">Художественно-исторический музей им. А.В. Григорьева</h3>
                        <p class="museum-mariel__about">Это одна из старейших картинных галерей на Волге, основанная в 1919 г., как её называют сами музейные работники — «Малая Третьяковка на Волге».</p>
                        <ul class="museum-mariel__info-list">
                            <li class="museum-mariel__info-item museum-mariel__info-item--time">Сегодня: открыто с 8:30 до 17:00 </li>
                            <li class="museum-mariel__info-item museum-mariel__info-item--address">г. Козьмодемьянск, ул. Лихачева, 10</li>
                        </ul>

                    </div>
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
        </ul>

        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
    <div class="museums-mariel__map">
        <div class="museums-mariel__map-frame"></div>
    </div>
</section>