<section class="map page__section">
   <h2 class="visually-hidden">Музейные площадки на карте</h2>
    <div class="map__wrap">
        <div class="map__frame">

        </div>
        <div class="map__filter">
            <select class="select" form="museum-list">
                <option>Национальный музей Республики Марий Эл имени Тимофея Евсеева</option>
                <option>Музей истории и археологии Республики Марий Эл</option>
                <option>Благовещенская башня</option>
                <option>Музей истории Православия Республики Марий Эл</option>
                <option>Дом-музей И. С. Ключникова-Палантая</option>
                <option>Музей народно-прикладного искусства</option>
            </select>
            <ul class="radio-buttons">
                <li>
                    <input id="museum1" type="radio" name="museums" value="museum1">
                    <label for="museum1">Национальный музей Республики Марий Эл имени Тимофея Евсеева</label>
                </li>
                <li>
                    <input id="museum2" type="radio" name="museums" value="museum2" checked="">
                    <label for="museum2">Музей истории и археологии Республики Марий Эл</label>
                </li>
                <li>
                    <input id="museum3" type="radio" name="museums" value="museum3">
                    <label for="museum3">Благовещенская башня</label>
                </li>

                <li>
                    <input id="museum4" type="radio" name="museums" value="museum4">
                    <label for="museum4">Музей истории Православия Республики Марий Эл</label>
                </li>
                <li>
                    <input id="museum5" type="radio" name="museums" value="museum5" checked="">
                    <label for="museum5">Дом-музей И. С. Ключникова-Палантая</label>
                </li>
                <li>
                    <input id="museum6" type="radio" name="museums" value="museum6">
                    <label for="museum6">Музей народно-прикладного искусства</label>
                </li>
            </ul>
            <form id="museum-list"></form>
        </div>

    </div>
</section>