.btn {
  @include btn-reset;
  @include text-10;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  min-height: 25px;
  transition: $transition;
  text-align: center;

  @media (min-width: $md-width) {
    @include text-12;
    min-height: 30px;
    padding: 0.75rem 2rem;
  }

  & use.icon__symbol {
    transition: $transition;
  }

  &--buyticket {
    @include text-12;
    background-color: $main;
    border-color: $main;
    color: $light;
    padding: 1rem;
    min-height: 4rem;
    width: 40%;
    flex-grow: 1;

    @media (min-width: $md-width) {
      @include text-normal;
      height: 4.5rem;
    }

    &:hover,
    &:focus {
      background-color: $main-dark;
      border-color: $main-dark;
    }
  }
}

