.btn {
  @include btn-reset;
  @include text-10;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  min-height: 25px;
  transition: $transition;
  text-align: center;

  @media (min-width: $md-width) {
    @include text-12;
    min-height: 30px;
    padding: 0.75rem 2rem;
  }

  & use.icon__symbol {
    transition: $transition;
  }

  &--buyticket {
    @include text-12;
    background-color: $main;
    border-color: $main;
    color: $light;
    padding: 1rem;
    min-height: 4rem;
    width: 40%;
    flex-grow: 1;

    @media (min-width: $md-width) {
      @include text-normal;
      height: 4.5rem;
    }

    @media (min-width: $lg-width) {
      order: 2;
      min-width: 17rem;
    }

    &:hover,
    &:focus {
      background-color: $main-dark;
      border-color: $main-dark;
    }
  }

  &--main {
    background-color: $main;
    border-color: $main;
    color: $light;

    &:hover,
    &:focus {
      background-color: $main-dark;
      border-color: $main-dark;
    }
  }

  &--secondary {
    background-color: $light;
    border-color: $light;
    color: $dark;

    &:hover,
    &:focus {
      background-color: rgba($dark-gray, 0.5);
      color: $light;
    }

    & use.icon__symbol {
      stroke: $dark;
    }
  }
}

.main-slider .btn {
  @include text-12;

  min-width: 115px;
  min-height: 35px;
  gap: 6px;

  & .icon {
    width: 20px;
    height: 20px;
  }

  & use.icon__symbol {
    stroke: $dark;
  }

  @media (min-width: $md-width) {
    @include text-normal;
    min-width: 185px;
    min-height: 45px;


  }
}

