<section class="collections collections--page">
    <div class="collections__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Коллекции</h1>
            <div class="collections__filters">
                <h3 class="collections__filters-title collections__filters-title--selected">Фильтр<span>(1)</span></h3>
                <div class="collections__filters-block">
                    <div class="collections__filters-wrap">
                        <fieldset class="filter filter--select-place">
                            <legend class="visually-hidden">Музейные комплексы</legend>
                            <select form="expositions-filters">
                                <include src="./src/components/blocks/filter/place-select-options.html"></include>

                            </select>
                        </fieldset>
                        <fieldset class="filter filter--select-collection-type">
                            <legend class="visually-hidden">Тип коллекции</legend>
                            <select form="expositions-filters">
                                <option>Все</option>
                                <option>Вариант 1</option>
                                <option>Вариант 2</option>
                                <option>Вариант 3</option>
                            </select>
                        </fieldset>
                        <fieldset class="filter filter--search-collection">
                            <legend class="visually-hidden">Поиск по экспонатам</legend>
                            <include src="./src/components/blocks/form/form--search-collection.html"></include>
                        </fieldset>
                    </div>
                    <div class="collections__filters-btn-wrap">
                        <button class="btn btn--main">Применить</button>
                        <button class="btn btn--main-invert">Сбросить фильтр</button>
                    </div>
                </div>
            </div>
            <form class="visually-hidden" id="expositions-filters"></form>
        </div>
    </div>
    <div class="collections__content">
        <ul class="collections__list">
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image1-767@1x.webp 1x,
            ../collections/image1-767@2x.webp 2x,
            ../collections/image1-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image1-767@1x.jpg 1x,
            ../collections/image1-767@2x.jpg 2x,
            ../collections/image1-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image1.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШОЙ ПИДЫШ" (мар.)</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image2-767@1x.webp 1x,
            ../collections/image2-767@2x.webp 2x,
            ../collections/image2-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image2-767@1x.jpg 1x,
            ../collections/image2-767@2x.jpg 2x,
            ../collections/image2-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image2.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "КЁРЖГЫЛ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image3-767@1x.webp 1x,
            ../collections/image3-767@2x.webp 2x,
            ../collections/image3-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image3-767@1x.jpg 1x,
            ../collections/image3-767@2x.jpg 2x,
            ../collections/image3-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image3.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШЫРКАМА" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image4-767@1x.webp 1x,
            ../collections/image4-767@2x.webp 2x,
            ../collections/image4-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image4-767@1x.jpg 1x,
            ../collections/image4-767@2x.jpg 2x,
            ../collections/image4-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image4.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШИЙ АРШАШ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image5-767@1x.webp 1x,
            ../collections/image5-767@2x.webp 2x,
            ../collections/image5-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image5-767@1x.jpg 1x,
            ../collections/image5-767@2x.jpg 2x,
            ../collections/image5-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image5.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШОЙ ПИДЫШ" (мар.)</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image6-767@1x.webp 1x,
            ../collections/image6-767@2x.webp 2x,
            ../collections/image6-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image6-767@1x.jpg 1x,
            ../collections/image6-767@2x.jpg 2x,
            ../collections/image6-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image6.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Браслет "КИДШОЛ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>            
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image7-767@1x.webp 1x,
            ../collections/image7-767@2x.webp 2x,
            ../collections/image7-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image7-767@1x.jpg 1x,
            ../collections/image7-767@2x.jpg 2x,
            ../collections/image7-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image7.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШУЕШ ПИДЫШ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image8-767@1x.webp 1x,
            ../collections/image8-767@2x.webp 2x,
            ../collections/image8-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image8-767@1x.jpg 1x,
            ../collections/image8-767@2x.jpg 2x,
            ../collections/image8-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image8.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШУЕШ ПИДЫШ" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="collections__item">
                <a class="collections__link" href="./news-detail.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../collections/image9-767@1x.webp 1x,
            ../collections/image9-767@2x.webp 2x,
            ../collections/image9-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../collections/image9-767@1x.jpg 1x,
            ../collections/image9-767@2x.jpg 2x,
            ../collections/image9-767@3x.jpg 3x">
                            <img class="collections__item-img" src="../collections/image9.jpg" alt="">
                        </picture>
                    </div>
                    <h3 class="collections__title">
                        <span>Украшение "ШЫРКАМА" (мар.)</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
        <a class="link link--more" href="#">Показать ещё</a>
    </div>
</section>