.collections--page {
  & .collections {
    &__head {
      background-color: $superlight;
      padding-top: 15px;
      padding-bottom: 30px;
      margin-bottom: 30px;

      @media (min-width: $md-width) {
        margin-bottom: 50px;
      }

      @media (min-width: $lg-width) {
        padding-top: 30px;
        padding-bottom: 90px;
        margin-bottom: -60px;
      }

      & .page__subtitle {
        margin-bottom: 20px;
      }
    }

    &__filters {
      border-bottom: 1px solid $light-gray;
      padding-bottom: 20px;
      margin-bottom: 20px;

      @media (min-width: $lg-width) {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }

    &__filters-title {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      @include mp();
      @include text-normal;
      min-height: 30px;
      transition: $transition;

      @media (min-width: $lg-width) {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        border: 0;
        white-space: nowrap;
        clip-path: inset(100%);
      }

      & span {
        display: none;
      }

      &--selected {
        & span {
          color: $secondary;
          display: inline-block;
          margin-left: 0.25em;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        content: "";
        background-color: $dark-gray;
      }

      &::before {
        right: 0;
        width: 18px;
        height: 2px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-50%) rotate(-90deg);
        opacity: 1;
      }

      &::after {
        right: 8px;
        width: 2px;
        height: 18px;
        transition: all 0.5s ease-in-out;
        transform: translateY(-50%) rotate(-90deg);
      }




      &.active {
        color: $secondary;
        &::before {
          transition: all 0.5s ease-in-out;
          transform:  translateY(-50%) rotate(90deg);
          opacity: 0;
        }

        &::after {
          transition: all 0.5s ease-in-out;
          transform:  translateY(-50%) rotate(90deg);
        }
      }
    }

    &__filters-block {
      padding-top: 10px;
      display: none;

      @media (min-width: $lg-width) {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-between;
        padding-top: 0;
      }
    }

    &__filters-wrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 15px;
      margin-bottom: 15px;

      @media (min-width: $lg-width) {
        margin-bottom: 0;
        width: 740px;
      }
    }

    &__filters-btn-wrap {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      & .btn {
        min-height: 35px;
        padding: 5px 18px;

        &--main-invert {
          background-color: transparent;

          &:hover,
          &:focus {
            background-color: $main-dark;
            border-color: $main-dark;
            color: $light;
          }
        }

        @media (min-width: $lg-width) {
          min-height: 45px;
          padding: 10px 40px;

          &--main {
            display: none;
          }
        }
      }
    }

    &__status-filters {
      @include container;
      padding-right: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;

      @media (min-width: $lg-width) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
      }
    }

    &__tabs-wrap {
      position: relative;
      width: auto;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }

      @media (min-width: $lg-width) {
        overflow: unset;
        flex-grow: 1;
      }
    }

    &__list {
      margin-bottom: 30px;

      @media (min-width: $md-width) {
        margin-bottom: 50px;
      }
    }
  }

  & .filter--select-place,
  & .filter--select-collection-type {
    flex-grow: 1;
    width: 200px;

    @media (min-width: $lg-width) {
      flex-grow: 0;
    }
  }

  & .filter--search-collection {
    flex-grow: 1;
    width: 200px;

    @media (min-width: $lg-width) {
      flex-grow: 1;
      flex-shrink: 1;
      max-width: 290px;
    }
  }

  .filter--search-collection {
    position: relative;

    & input[type="search"] {
      width: 100%;
      padding-right: 40px;
      border: 1px solid #DDDDDD;
      outline: none;

      &:hover,
      &:focus {
        border: 1px solid $secondary;
      }
    }

    & button[type="submit"] {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;

      @include btn-reset;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      outline-color: $secondary;

      & .icon {
        width: 20px;
        height: 20px;
      }

      & use.icon__symbol {
        stroke: $dark-gray;
      }

      &:hover,
      &:focus {
        & use.icon__symbol {
          stroke: $secondary;
        }
      }
    }
  }
}

.collections {
  &__content {
    @include container;
    margin-bottom: 30px;

    @media (min-width: $md-width) {
      margin-bottom: 60px;
    }

  }

  &__list {
    @include list();
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @media (min-width: $md-width) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $xl-width) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
    }
  }

  &__item {
    width: 100%;
    min-height: 20px;
    background-color: $light;
    border: 1px solid #DDD;

    & .collections__link {
      @include mp();
      display: flex;
      flex-direction: column;
      color: inherit;
      text-decoration: none;
      transition: $transition;
      height: 100%;


      &:hover,
      &:focus {
        @include main-sh;
      }
    }

    & .collections__item-img {
      aspect-ratio: 2 / 1;
      object-fit: cover;
      object-position: center;
    }

    & .collections__title {
      @include mp();
      @include h3;
      padding: 15px;
      display: flex;
      justify-content: space-between;
      gap: 10px;

      @media (min-width: $md-width) {
        @include title;
        padding: 20px;
      }

      & span {
        width: 60%;
        flex-grow: 1;
      }

      & use.icon__symbol {
        width: 20px;
        height: 20px;
        stroke: $dark;
      }
    }
  }

  & .link--more {
    margin-top: 30px;

    @media (min-width: $md-width) {
      margin-top: 50px;
    }
  }
}

.collections--section {
  background-color: $light-gray;
}