<section class="accessible-museum page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Доступный музей</h2>
        <div class="accessible-museum__wrap">
            <div class="accessible-museum__filter">
                <select form="accessible-museum-list">
                    <option>Национальный музей Республики Марий Эл имени Тимофея Евсеева</option>
                    <option>Музей истории и археологии Республики Марий Эл</option>
                    <option>Благовещенская башня</option>
                    <option>Музей истории Православия Республики Марий Эл</option>
                    <option>Дом-музей И. С. Ключникова-Палантая</option>
                    <option>Музей народно-прикладного искусства</option>
                </select>
                <ul class="radio-buttons">
                    <li>
                        <input id="museum1" type="radio" name="museums" value="museum1">
                        <label for="museum1">Национальный музей Республики Марий Эл имени Тимофея Евсеева</label>
                    </li>
                    <li>
                        <input id="museum2" type="radio" name="museums" value="museum2" checked="">
                        <label for="museum2">Музей истории и археологии Республики Марий Эл</label>
                    </li>
                    <li>
                        <input id="museum3" type="radio" name="museums" value="museum3">
                        <label for="museum3">Благовещенская башня</label>
                    </li>

                    <li>
                        <input id="museum4" type="radio" name="museums" value="museum4">
                        <label for="museum4">Музей истории Православия Республики Марий Эл</label>
                    </li>
                    <li>
                        <input id="museum5" type="radio" name="museums" value="museum5" checked="">
                        <label for="museum5">Дом-музей И. С. Ключникова-Палантая</label>
                    </li>
                    <li>
                        <input id="museum6" type="radio" name="museums" value="museum6">
                        <label for="museum6">Музей народно-прикладного искусства</label>
                    </li>
                </ul>
                <form id="accessible-museum-list"></form>
            </div>
            <!--Наполнение должно меняться в зависимости от выбранного музея-->
            <div class="accessible-museum__text">
                <p>Национальный музей Республики Марий Эл им. Т. Евсеева открыт для посещения людям с ограниченными физическими возможностями.</p>
                <p>Перед входом в Главный корпус Национального музея им. Т. Евсеева на Советской, 153 установлена кнопка вызова охранника.</p>

                <p><b>Для инвалидов-колясочников предусмотрены:</b></p>
                <ul>
                    <li>Пологие съезды при сходе с тротуара</li>
                    <li>Возможность подъезда к крыльцу на автомобиле</li>
                    <li>Двери шириной более 0,9 м</li>
                    <li>Пороги отсутствуют (не более 1,4 см)</li>
                    <li>Часть экспозиций – на высоте 0,7–1,2 м</li>
                    <li>Возможность посещения группой инвалидов на колясках</li>
                </ul>

                <p><b>Для посетителей с нарушениями слуха:</b></p>
                <ul>
                    <li>Визуальная информация об учреждении культуры</li>
                    <li>Визуальная навигация внутри учреждения культуры</li>
                    <li>Возможность посещения группой глухих (глухонемых)</li>
                </ul>



                <p><b>Для посетителей с нарушениями зрения:</b></p>
                <li>Возможность посещения группами инвалидов по зрению</li>
            </div>
        </div>
    </div>
    <div class="accessible-museum__info">
        <div class="page__wrap">
            <h3 class="accessible-museum__subtitle">Рекомендуем о своём визите сообщать заранее по телефонам:</h3>
            <ul class="accessible-museum__phone-list">
                <li>
                    <h4>Национальный музей РМЭ им. Т. Евсеева</h4>
                    <div>
                        <a href="tel:+78362347530">+7 (8362) 34-75-30</a>
                    </div>

                </li>
                <li>
                    <h4>Музей народно-прикладного искусства</h4>
                    <div>
                        <a href="tel:+78362349041">+7 (8362) 34-90-41</a>
                    </div>

                </li>
                <li>
                    <h4>Музей истории православия</h4>
                    <div>
                        <a href="tel:+78362349043">+7 (8362) 34-90-43</a>
                    </div>

                </li>
                <li>
                    <h4>Музей истории и археологии</h4>
                    <div>
                        <a href="tel:+78362349042">+7 (8362) 34-90-42</a>
                    </div>

                </li>
                <li>
                    <h4>Дом-музей И.С. Ключникова-Палантая</h4>
                    <div>
                        <a href="tel:+78362347530">+7 (8362) 34-75-30</a>
                    </div>

                </li>
            </ul>
            <div class="accessible-museum__note">
                Вам помогут организовать визит и выбрать специализированную экскурсию, знакомящую с музеем!
            </div>
        </div>
    </div>
</section>
