<section class="master-classes master-classes--section">
    <div class="master-classes__head">
        <div class="page__wrap">
            <h2 class="page__subtitle">Мастер-классы</h2>
        </div>
    </div>
    <div class="master-classes__content">
        <ul class="master-classes__list">
            <li class="master-classes__item master-class">
                <p class="master-classes__item-type"><span>Музейно-краеведческий квест</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../master-classes/image1-767@1x.webp 1x,
            ../master-classes/image1-767@2x.webp 2x,
            ../master-classes/image1-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../master-classes/image1-767@1x.jpg 1x,
            ../master-classes/image1-767@2x.jpg 2x,
            ../master-classes/image1-767@3x.jpg 3x">
                    <img class="master-class__img" src="../master-classes/image1.jpg" alt="">
                </picture>
                <div class="master-class__wrap-content">
                    <h3 class="master-class__title">Такая разная Марий Эл (6+)</h3>
                    <p class="master-class__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="master-class__days">15.02 — 30.12</p>
                    <div class="master-class__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
                <p class="master-class__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="master-classes__item program">
                <p class="master-classes__item-type"><span>Hаучно-познавательная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../master-classes/image2-767@1x.webp 1x,
            ../master-classes/image2-767@2x.webp 2x,
            ../master-classes/image2-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../master-classes/image2-767@1x.jpg 1x,
            ../master-classes/image2-767@2x.jpg 2x,
            ../master-classes/image2-767@3x.jpg 3x">
                    <img class="master-class__img" src="../master-classes/image2.jpg" alt="">
                </picture>
                <div class="master-class__wrap-content">
                    <h3 class="master-class__title">«В мире археологии»</h3>
                    <p class="master-class__place">Музей истории и археологии</p>
                    <p class="master-class__days">20.05 — 17.09</p>
                    <div class="master-class__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
            <li class="master-classes__item program">
                <p class="master-classes__item-type"><span>Музейная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../master-classes/image3-767@1x.webp 1x,
            ../master-classes/image3-767@2x.webp 2x,
            ../master-classes/image3-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../master-classes/image3-767@1x.jpg 1x,
            ../master-classes/image3-767@2x.jpg 2x,
            ../master-classes/image3-767@3x.jpg 3x">
                    <img class="master-class__img" src="../master-classes/image3.jpg" alt="">
                </picture>
                <div class="master-class__wrap-content">
                    <h3 class="master-class__title">Игрозавры (6+)</h3>
                    <p class="master-class__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="master-class__days">01.01 — 31.12</p>
                    <div class="master-class__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
        </ul>
        <a class="link link--more" href="./excursions.html">Показать ещё</a>
    </div>
</section>