<section class="tickets-and-benefits page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Билеты и льготы</h2>
        <ul class="tickets-and-benefits__list">
            <li class="tickets-and-benefits__item">
                <a class="tickets-and-benefits__link" href="./price.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../tickets-and-benefits/price-767@1x.webp 1x,
            ../tickets-and-benefits/price-767@2x.webp 2x,
            ../tickets-and-benefits/price-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../tickets-and-benefits/price-767@1x.jpg 1x,
            ../tickets-and-benefits/price-767@2x.jpg 2x,
            ../tickets-and-benefits/price-767@3x.jpg 3x">
                            <img class="tickets-and-benefits__item-img" src="../tickets-and-benefits/price.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="tickets-and-benefits__title">
                        <span>Цены и условия</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="tickets-and-benefits__item">
                <a class="tickets-and-benefits__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../tickets-and-benefits/pushkincard-767@1x.webp 1x,
            ../tickets-and-benefits/pushkincard-767@2x.webp 2x,
            ../tickets-and-benefits/pushkincard-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../tickets-and-benefits/pushkincard-767@1x.jpg 1x,
            ../tickets-and-benefits/pushkincard-767@2x.jpg 2x,
            ../tickets-and-benefits/pushkincard-767@3x.jpg 3x">
                            <img class="tickets-and-benefits__item-img" src="../tickets-and-benefits/pushkincard.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="tickets-and-benefits__title">
                        <span>Пушкинская карта</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
    </div>
</section>
