<section class="event-posters event-posters--section page__section">
    <div class="event-posters__head">
        <h2 class="page__subtitle">Афиша мероприятий</h2>
        <fieldset class="filter filter--select-poster-type">
            <legend class="visually-hidden">Выбрать площадку</legend>
            <select form="event-posters-filters">
                <include src="./src/components/blocks/filter/place-select-options.html"></include>
            </select>
        </fieldset>
        <form class="visually-hidden" id="event-posters-filters"></form>
    </div>
    <div class="page__wrap">
        <ul class="event-posters__list">
            <li class="event-posters__item poster">
                <p class="event-posters__item-type"><span>Музейно-краеведческий квест</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../event-posters/image1-767@1x.webp 1x,
            ../event-posters/image1-767@2x.webp 2x,
            ../event-posters/image1-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../event-posters/image1-767@1x.jpg 1x,
            ../event-posters/image1-767@2x.jpg 2x,
            ../event-posters/image1-767@3x.jpg 3x">
                    <img class="poster__img" src="../event-posters/image1.jpg" alt="">
                </picture>
                <div class="poster__wrap-content">
                    <h3 class="poster__title">«Такая разная Марий Эл» (1-4 класс)</h3>
                    <p class="poster__place">Национальный музей Республики Марий Эл им. Т. Евсеева</p>
                    <p class="poster__price">150 ₽</p>
                    <div class="poster__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
                <p class="poster__pushkincard visually-hidden">Действует программа Пушкинская карта</p>
            </li>
            <li class="event-posters__item poster">
                <p class="event-posters__item-type"><span>Музейная научно-познавательная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../event-posters/image2-767@1x.webp 1x,
            ../event-posters/image2-767@2x.webp 2x,
            ../event-posters/image2-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../event-posters/image2-767@1x.jpg 1x,
            ../event-posters/image2-767@2x.jpg 2x,
            ../event-posters/image2-767@3x.jpg 3x">
                    <img class="poster__img" src="../event-posters/image2.jpg" alt="">
                </picture>
                <div class="poster__wrap-content">
                    <h3 class="poster__title">«В мире археологии» (1-4 класс)</h3>
                    <p class="poster__place">Музей истории и археологии</p>
                    <p class="poster__price">150 ₽</p>
                    <div class="poster__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
            <li class="event-posters__item poster">
                <p class="event-posters__item-type"><span>Музейная программа</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../event-posters/image3-767@1x.webp 1x,
            ../event-posters/image3-767@2x.webp 2x,
            ../event-posters/image3-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../event-posters/image3-767@1x.jpg 1x,
            ../event-posters/image3-767@2x.jpg 2x,
            ../event-posters/image3-767@3x.jpg 3x">
                    <img class="poster__img" src="../event-posters/image3.jpg" alt="">
                </picture>
                <div class="poster__wrap-content">
                    <h3 class="poster__title">«Творим вместе. Сказочное путешествие» (1-4 класс)</h3>
                    <p class="poster__place">Музей народно-прикладного искусства</p>
                    <p class="poster__price">150 ₽</p>
                    <div class="poster__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
            <li class="event-posters__item poster">
                <p class="event-posters__item-type"><span>Экскурсия по выставке</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../event-posters/image4-767@1x.webp 1x,
            ../event-posters/image4-767@2x.webp 2x,
            ../event-posters/image4-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../event-posters/image4-767@1x.jpg 1x,
            ../event-posters/image4-767@2x.jpg 2x,
            ../event-posters/image4-767@3x.jpg 3x">
                    <img class="poster__img" src="../event-posters/image4.jpg" alt="">
                </picture>
                <div class="poster__wrap-content">
                    <h3 class="poster__title">«Николай Карамзин. История в некотором смысле…» (1-4 класс)</h3>
                    <p class="poster__place">Музей истории Православия</p>
                    <p class="poster__price"></p>
                    <div class="poster__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Музей истории православия</a>
                        <a class="btn btn--small-btn" href="#">150 ₽</a>
                    </div>
                </div>
            </li>
            <li class="event-posters__item poster">
                <p class="event-posters__item-type"><span>Экскурсия-квест</span></p>
                <picture>
                    <source type="image/webp" srcset="
            ../event-posters/image5-767@1x.webp 1x,
            ../event-posters/image5-767@2x.webp 2x,
            ../event-posters/image5-767@3x.webp 3x">
                    <source type="image/jpeg" srcset="
            ../event-posters/image5-767@1x.jpg 1x,
            ../event-posters/image5-767@2x.jpg 2x,
            ../event-posters/image5-767@3x.jpg 3x">
                    <img class="poster__img" src="../event-posters/image5.jpg" alt="">
                </picture>
                <div class="poster__wrap-content">
                    <h3 class="poster__title">«В лабиринте времени» (1-4 класс)</h3>
                    <p class="poster__place">Культурно-выставочный центр “Башня”</p>
                    <p class="poster__price">150 ₽</p>
                    <div class="poster__btn-wrap">
                        <a class="btn btn--small-btn" href="#">Сборная группа</a>
                        <a class="btn btn--small-btn" href="#">Организованная группа</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>