<section class="team team--page">
    <div class="team__head">
        <div class="page__wrap">
            <h1 class="page__subtitle">Наш коллектив</h1>
        </div>
    </div>
    <div class="team__content">
        <div class="team__section">
            <h2 class="team__subtitle">Руководство</h2>
            <ul class="team__list">
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                    
                    <h3 class="employee__name">Зверева Светлана Владимировна</h3>
                    <p class="employee__position">Директор</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                     
                    <h3 class="employee__name">Яндулова Татьяна Вениаминовна</h3>
                    <p class="employee__position">Заместитель директора по общим вопросам и развитию</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                      
                    <h3 class="employee__name">Ефремова Диана Юрьевна</h3>
                    <p class="employee__position">Заместитель директора по научной работе</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                      
                    <h3 class="employee__name">Петрова Татьяна Анатольевна</h3>
                    <p class="employee__position">Главный бухгалтер </p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                      
                    <h3 class="employee__name">Кириллова Елена Васильевна</h3>
                    <p class="employee__position">Главный хранитель фондов</p>
                </li>
            </ul>
        </div>
        <div class="team__section">
            <h2 class="team__subtitle">Филиалы</h2>
            <ul class="team__list">
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                     
                    <h3 class="employee__name">Смирнова Наталья Евгеньевна</h3>
                    <p class="employee__position">Заведующая Домом-музеем  И.С. Ключникова-Палантая</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                      
                    <h3 class="employee__name">Матвеева Татьяна Алексеевна</h3>
                    <p class="employee__position">Заведующая музеем Народно-прикладного искусства</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                     
                    <h3 class="employee__name">Пасынкова Светлана Сергеевна</h3>
                    <p class="employee__position">Заведующая музеем Истории православия</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                   
                    <h3 class="employee__name">Петрова Татьяна Анатольевна</h3>
                    <p class="employee__position">Заведующая отделом истории (Музей истории и археологии)</p>
                </li>
                <li class="team__item employee">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
                          ../team/no-photo-320@1x.webp 1x,
                          ../team/no-photo-320@2x.webp 2x,
                          ../team/no-photo-320@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                          ../team/no-photo-320@1x.png 1x,
                          ../team/no-photo-320@2x.png 2x,
                          ../team/no-photo-320@3x.png 3x">
                            <img class="img" src="../team/no-photo.png" alt="">
                          </picture>
                    </div>                     
                    <h3 class="employee__name">Кириллова Елена Васильевна</h3>
                    <p class="employee__position">Главный хранитель фондов</p>
                </li>
            </ul>
        </div>
    </div>
</section>