<section class="banner page__section">
  <div class="page__wrap">
    <picture>
      <source type="image/webp" media="(min-width: 992px)" srcset="
            ../banner/banner1-1200.webp,
            ../banner/banner1-1200@2x.webp 2x,
            ../banner/banner1-1200@3x.webp 3x">
      <source type="image/webp" media="(min-width: 768px)" srcset="
            ../banner/banner1-991.webp,
            ../banner/banner1-991@2x.webp 2x,
            ../banner/banner1-991@3x.webp 3x">
      <source type="image/webp" srcset="
            ../banner/banner1-767@1x.webp 1x,
            ../banner/banner1-767@2x.webp 2x,
            ../banner/banner1-767@3x.webp 3x">
      <source type="image/jpeg" media="(min-width: 992px)" srcset="
            ../banner/banner1-1200.png 1x,
            ../banner/banner1-1200@2x.png 2x,
            ../banner/banner1-1200@3x.png 3x">
      <source type="image/jpeg" media="(min-width: 768px)" srcset="
            ../banner/banner1-991.png 1x,
            ../banner/banner1-991@2x.png 2x,
            ../banner/banner1-991@3x.png 3x">
      <source type="image/jpeg" srcset="
            ../banner/banner1-767@1x.png 1x,
            ../banner/banner1-767@2x.png 2x,
            ../banner/banner1-767@3x.png 3x">
      <img class="banner__img" src="/img/banner/banner1.png" alt="Сохраняем наследие вместе">
    </picture>
    <div class="banner__line banner__line--black"></div>
    <div class="banner__line banner__line--blue"></div>
    <div class="banner__line banner__line--red"></div>
    <div class="banner__line banner__line--yellow"></div>
  </div>

</section>
