.select {
  &--time-filter {
    @include text-normal-caps;
    color: $secondary;
    width: 100%;
    background: unset;
    padding: 0;
    text-align: right;
    background: none;
    border: none;


    &:hover,
    &:focus {
      color: $secondary;
      outline: none;
      background-image: none;
    }
  }
}