<section class="pages-history">
    <div class="pages-history__head">
        <div class="pages-history__head-wrap">
            <h1 class="pages-history__title">История Национального музея Республики Марий Эл им. Т. Евсеева</h1>
        </div>
    </div>
    <div class="pages-history__filter-wrap">
        <h3>Страницы истории</h3>
        <ul class="pages-history__nav">
            <li>
                <a href="#">
                    Пролог
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="#">Основание музея
                    <svg class="icon" width="20px" height="20px" fill="none">
                        <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                    </svg>
                </a>
            </li>
            <li><a href="#">Открытие музея<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Возрождение<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Тимофей Евсеев<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Новое здание<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Лашманов<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Трагическая судьба Тимофея Евсеева</a></li>
            <li><a href="#">В годы войны<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">После войны<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Искаков<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Музей и археология<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Подарок Сталину<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Коллекция из замка Шереметевых<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Расширение и реконструкция<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Первый филиал<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Создание экспозиций<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">50 лет музею<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Музейный бум<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Международные связи<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
            <li><a href="#">Национальный, имени Евсеева<svg class="icon" width="20px" height="20px" fill="none">
                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
            </svg></a></li>
        </ul>
        <fieldset class="filter filter--history">
            <select>
                <option>Пролог</option>
                <option>Основание музея</option>
                <option>Открытие музея</option>
                <option>Возрождение</option>
                <option>Тимофей Евсеев</option>
                <option>Новое здание</option>
                <option>Лашманов</option>
                <option>Трагическая судьба Тимофея Евсеева</option>
                <option>В годы войны</option>
                <option>После войны</option>
                <option>Искаков</option>
                <option>Музей и археология</option>
                <option>Подарок Сталину</option>
                <option>Коллекция из замка Шереметевых</option>
                <option>Расширение и реконструкция</option>
                <option>Первый филиал</option>
                <option>Создание экспозиций</option>
                <option>50 лет музею</option>
                <option>Музейный бум</option>
                <option>Международные связи</option>
                <option>Национальный, имени Евсеева</option>
            </select>
        </fieldset>
    </div>
    <div class="pages-history__text">
        <div class="block block--showoneitem">
            <div class="block__item">
                <div class="block__title active">Пролог</div>
                <div class="block__text" style="display: block;">
                    <p>В уездном городе Царевококшайске не было музея, хотя здесь ещё в 1917 году имелись учительская семинария, 2 гимназии, ремесленная школа, несколько начальных школ, 2 библиотеки, театральные кружки, передвижной кинотеатр, монастырь со своей фотолабораторией, причём город ещё в конце XIX века уверенно занимал первое место в Казанской губернии по уровню грамотности населения.</p>
                    <figure>
                        <picture>
                            <source type="image/webp" srcset="
                            ../pages-history/img1-767@1x.webp 1x,
                            ../pages-history/img1-767@2x.webp 2x,
                            ../pages-history/img1-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                            ../pages-history/img1-767@1x.jpg 1x,
                            ../pages-history/img1-767@2x.jpg 2x,
                            ../pages-history/img1-767@3x.jpg 3x">
                            <img src="../pages-history/img1.jpg" alt="">
                        </picture>
                        <figcaption>Царевококшайск в начале XX в.</figcaption>
                    </figure>


                    <p>О необходимости его открытия много говорили представители местной интеллигенции. Задача немедленного создания Марийского национального музея ставилась на Первом и Втором Всероссийских съездах народа мари (1917 и 1918 годы). Такая возможность появилась после установления советской власти, когда создание и развитие сети музеев по всей стране стало делом государственной важности. Политика правительства Советской России требовала развития музеев как составной части культурной революции. Возглавил музейное дело Народный комиссариат просвещения РСФСР (Наркомпрос РСФСР), в составе которого был создан Отдел по делам музеев и охране памятников искусства и старины. Большое значение имело создание в 1918 году Государственного музейного фонда – хранилища предметов музейного значения, вывозимых из экспроприированных дворцов и усадеб, дореволюционных учреждений, частных квартир. Из фонда пополнялись коллекции центральных и местных музеев.</p>

                    <p>7 сентября 1919 года благодаря инициативе и активной деятельности заведующего Козьмодемьянским уездным отделом образования (Козьмодемьянским уотобром), художника Александра Владимировича Григорьева в городе Козьмодемьянске был открыт музей на основе картин Волжско-Камской передвижной выставки. Так началась история «Малой Третьяковки на Волге» – Историко-художественного музея им. А.В. Григорьева. 18 сентября 1919 года Краснококшайский уотобр поручил приступить к сбору материала для уездного музея марийскому историку-краеведу, преподавателю Краснококшайских педагогических курсов Фёдору Егоровичу Егорову.<p>

                    <p>В музее намечалось создание научно-экспозиционных отделов: естественно-исторического, этнографического, политехнического, искусства и передвижных наглядных учебных пособий, также планировалось создание лаборатории по музейному делу. Началось приобретение предметов музейного значения (картин, минералов, препаратов), направлялись соответствующие запросы в музеи Казанской и других губерний. Представитель Краснококшайского уотобра Х. Я. Ахтямов в поисках музейных специалистов выехал в Петроград.<p>

                    <figure>
                        <picture>
                            <source type="image/webp" srcset="
                                ../pages-history/img2-767@1x.webp 1x,
                                ../pages-history/img2-767@2x.webp 2x,
                                ../pages-history/img2-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
                                ../pages-history/img2-767@1x.jpg 1x,
                                ../pages-history/img2-767@2x.jpg 2x,
                                ../pages-history/img2-767@3x.jpg 3x">
                            <img src="../pages-history/img2.jpg" alt="">
                        </picture>
                        <figcaption>В. М. Васильев, С. Г. Чавайн, Л. Я. Мендиаров, Ф. Е. Егоров. 1920-e гг.</figcaption>
                    </figure>



                </div>
            </div>
            <div class="block__item">
                <div class="block__title">Основание музея</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Открытие музея</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Возрождение</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Тимофей Евсеев</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Новое здание</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Лашманов</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Трагическая судьба Тимофея Евсеева</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">В годы войны</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">После войны</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Искаков</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Музей и археология</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Подарок Сталину</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Коллекция из замка Шереметевых</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Расширение и реконструкция</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Первый филиал</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Создание экспозиций</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">50 лет музею</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Музейный бум</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Международные связи</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
            <div class="block__item">
                <div class="block__title">Национальный, имени Евсеева</div>
                <div class="block__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime consectetur, soluta amet ea deleniti ad, aspernatur ratione nobis porro quis saepe tempora perferendis omnis in magnam natus autem facilis?</div>
            </div>
        </div>
    </div>
    <div class="pages-history__main-img">
        <picture>
            <source type="image/webp" srcset="
        ../pages-history/main-img-767@1x.webp 1x,
        ../pages-history/main-img-767@2x.webp 2x,
        ../pages-history/main-img-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
        ../pages-history/main-img-767@1x.jpg 1x,
        ../pages-history/main-img-767@2x.jpg 2x,
        ../pages-history/main-img-767@3x.jpg 3x">
            <img src="../pages-history/main-img.jpg" alt="">
        </picture>
    </div>
</section>