<div class="site-nav">
    <ul class="site-nav__list">
        <li>
            <a class="site-nav__link" href="./posetitelyam.html">Посетителям</a>
            <button class="btn__open-sublist"></button>
            <ul class="site-nav__sub-list">
                <li><a class="site-nav__sub-link" href="./objects.html">Здания и часы работы</a></li>
                <li><a class="site-nav__sub-link" href="./tickets.html">Билеты</a></li>
                <li><a class="site-nav__sub-link" href="./excursions.html">Экскурсии</a></li>
                <li><a class="site-nav__sub-link" href="./accessibility.html">Доступный музей</a></li>
                <li><a class="site-nav__sub-link" href="./faq.html">Часто задаваемые вопросы</a></li>
                <li><a class="site-nav__sub-link" href="./rules.html">Правила посещения</a></li>
                <li><a class="site-nav__sub-link" href="./posetitelyam.html#feedback">Обратная связь</a></li>
            </ul>
        </li>
        <li><a class="site-nav__link" href="./events.html">События</a></li>
        <li><a class="site-nav__link" href="./programs.html">Программы и абонементы</a></li>
        <li><a class="site-nav__link" href="./expositions.html">Выставки</a></li>
        <li><a class="site-nav__link" href="./collections.html">Коллекции</a></li>
        <li>
            <a class="site-nav__link" href="#">Туризм</a>
            <button class="btn__open-sublist"></button>
            <ul class="site-nav__sub-list">
                <li><a class="site-nav__sub-link" href="./tours.html">Экскурсии и туры</a></li>
                <li><a class="site-nav__sub-link" href="./for-guides.html">Внештатным экскурсоводам</a></li>
            </ul>
        </li><!-- в разработке -->
        <li><a class="site-nav__link" href="#">Евсеев онлайн</a></li><!-- ? -->
        <li><a class="site-nav__link" href="#">Наука</a></li><!-- ? -->
        <li>
            <a class="site-nav__link open-submenu">О музее</a>
            <button class="btn__open-sublist"></button>
            <ul class="site-nav__sub-list">
                <li><a class="site-nav__sub-link" href="./team.html">Наш коллектив</a></li>
                <li><a class="site-nav__sub-link" href="./">История музея</a></li><!-- в разработке -->
                <li><a class="site-nav__sub-link" href="./news-detail.html">Новости</a></li><!-- в разработке, пока есть только детальная страница -->
            </ul>                
        </li>
        <li><a class="site-nav__link" href=".museums-mariel.html">Музеи Марий Эл</a></li>
    </ul>
</div>
