<div class="site-nav">
    <ul class="site-nav__list">
        <li>
            <a href="#">Посетителям</a>
        </li>
        <li>
            <a href="#">События</a>
        </li>
        <li>
            <a href="#">Программы и абонементы</a>
        </li>
        <li>
            <a href="#">Выставки</a>
        </li>
        <li>
            <a href="#">Коллекции</a>
        </li>
        <li>
            <a href="#">Туризм</a>
        </li>
        <li>
            <a href="#">Евсеев онлайн</a>
        </li>
        <li>
            <a href="#">Наука</a>
        </li>
        <li>
            <a href="#">О музее</a>
        </li>
        <li>
            <a href="#">Музеи Марий Эл</a>
        </li>
    </ul>
</div>