<div class="site-nav">
    <ul class="site-nav__list">
        <li class="site-nav__item site-nav__item--from-submenu">
            <a class="open-submenu" href="./posetitelyam.html">Посетителям</a>
            <ul class="site-nav__submenu-list submenu">
                <li class="site-nav__submenu-item">
                    <a href="./objects.html">Здания и часы работы</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./tickets.html">Билеты</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./excursions.html">Экскурсии</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./accessibility.html">Доступный музей</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href=",/faq.html">Часто задаваемые вопросы</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./rules.html">Правила посещения</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./posetitelyam.html#feedback">Обратная связь</a>
                </li>
            </ul>
        </li>
        <li class="site-nav__item">
            <a href="./events.html">События</a>
        </li>
        <li class="site-nav__item">
            <a href="./programs.html">Программы и абонементы</a>
        </li>
        <li class="site-nav__item">
            <a href="./expositions.html">Выставки</a>
        </li>
        <li class="site-nav__item">
            <a href="./collections.html">Коллекции</a>
        </li>
        <li class="site-nav__item">
            <a href="#">Туризм</a><!-- в разработке -->
        </li>
        <li class="site-nav__item">
            <a href="#">Евсеев онлайн</a><!-- ? -->
        </li>
        <li class="site-nav__item">
            <a href="#">Наука</a><!-- ? -->
        </li>        
        <li class="site-nav__item">
            <a class="open-submenu" href="#">О музее</a>
            <ul class="site-nav__submenu-list submenu">
                <li class="site-nav__submenu-item">
                    <a href="./team.html">Наш коллектив</a>
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./">История музея</a><!-- в разработке -->
                </li>
                <li class="site-nav__submenu-item">
                    <a href="./news-detail.html">Новости</a><!-- в разработке, пока есть только детальная страница -->
                </li>                
            </ul>                
            </ul>
        </li>
        <li class="site-nav__item">
            <a href=".museums-mariel.html">Музеи Марий Эл</a>
        </li>
    </ul>
</div>
