.site-nav {
  &__list {
    @include list();
    & > li {
      & > a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__submenu-list {
    @include list();

    & > li {
      & a {
        color: inherit;
        text-decoration: none;        
      }
    }
  }
}

.main-header__menu .site-nav {
  &__list {
    display: flex;
    flex-direction: column;
    @include text-normal;
    color: $dark;
    font-variation-settings: "slnt" 0;

    @media (min-width: $lg-width) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
    }

    @media (min-width: $xl-width) {
      justify-content: space-between;
    }
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $light-gray;

    @media (min-width: $lg-width) {
      border-bottom: none;
    }

    & > a {
      outline-color: $secondary;
      display: inline-block;
      width: 100%;
      padding: 12px 0;
      transition: $transition;


      @media (min-width: $lg-width) {
        outline: none;
      }

      &:hover,
      &:focus {
        color: $secondary;
      }

      @media (min-width: $md-width) {
        text-align: center;
      }
    }
  }

  &__item--from-submenu {
    @media (min-width: $lg-width) {
      position: relative;
    }
  }

  &__submenu-list {
    display: flex;
    flex-direction: column;
    color: $dark-gray;
    margin-left: 20px;
    @include text-normal;
    margin-bottom: 6px;

    @media (min-width: $lg-width) {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $light;
    }


    & > li {
      & > a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  &__submenu-item {
    & > a {
      display: inline-block;
      padding: 9px 0;
    }
  }
}

.main-header--mobile .site-nav {

  &__item--from-submenu {
    display: flex;
    flex-wrap: wrap;    
  }

  & a {
    width: calc(100% - 40px);
    flex-grow: 1
  }

  & a.open-submenu {
    width: 100%;
    flex-grow: 1
  }

  & button.open-submenu {
    @include btn-reset();
    width: 40px;
    height: 40px;    
  }

  & .open-submenu {
    
    position: relative;
    

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      content: "";
      background-color: $dark-gray;

    }

    &::before {
      right: 8px;
      width: 18px;
      height: 2px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-50%) rotate(-90deg);
      opacity: 1;
    }

    &::after {
      right: 16px;
      width: 2px;
      height: 18px;
      transition: all 0.5s ease-in-out;
      transform: translateY(-50%) rotate(-90deg);
    }

    &:hover,
    &:focus,
    &:active {
      &::before,
      &::after {
        transition: $transition;
        background-color: $secondary;
      }
    }

    &--in {
      color: $main;

      &::before,
      &::after {
        background-color: $main;
      }

      &::before {
        transition: all 0.5s ease-in-out;
        transform:  translateY(-50%) rotate(90deg);
        opacity: 0;
      }

      &::after {
        transition: all 0.5s ease-in-out;
        transform:  translateY(-50%) rotate(90deg);
      }

      & + .submenu {
        max-height: 500px;
        transition: max-height 0.5s ease-in;
      }
    }
  }

  & .submenu {
    max-height: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
    width: 100%;
    flex-grow: 1;
  }
}

.main-header--desktop {
  & .site-nav {
    &__item {
      position: relative;

      &:hover {
        & .submenu {
          display: block;
        }
        
      }

      & a {
        padding: 9px 0;

        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }

    & .submenu {
      display: none;
      background-color: white;
      margin: 0;
      top: unset;
      left: -10px;
      bottom: 1px;
      transform: translateY(100%);
      padding: 20px 10px;
      width: 160px;
      z-index: 10;
    }
  }

  & button.open-submenu {
    display: none;
  }
}