<script src="js/jquery-3.7.0.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/sliders.js"></script>
<script>
    if ($(window).width() < '1024'){
        $('.open-submenu').click(function () {
            $(this).toggleClass('open-submenu--in').next().slideToggle();
            $('.open-submenu').not(this).removeClass('open-submenu--in').next().slideUp();
        });
    };

    /*$(window).scroll(function() {
        var height = $(window).scrollTop();

        /!*Если сделали скролл на 100px задаём новый класс для header*!/
        if(height > 150){
            $('.main-header').addClass('main-header--desktop-sticky');
            $('.main-header').removeClass('main-header--desktop');
        } else{
            /!*Если меньше 100px удаляем класс для header*!/
            $('.main-header').removeClass('main-header--desktop-sticky');
            $('.main-header').addClass('main-header--desktop');
        }
    });*/


</script>
<script>
    $(document).ready(function () {
        if ($(window).width() < '1024'){
            $(".expositions__filters-title").click(function (event) {
                $(".expositions__filters-title").not($(this)).removeClass("active");
                $(".expositions__filters-block").not($(this).next()).slideUp(300);
                $(this).toggleClass("active").next().slideToggle(300);
            });
        }
    });
</script>

<script>
    $(document).ready(function () {
        if ($(window).width() < '1024'){
            $(".excursions__filters-title").click(function (event) {
                $(".excursions__filters-title").not($(this)).removeClass("active");
                $(".excursions__filters-block").not($(this).next()).slideUp(300);
                $(this).toggleClass("active").next().slideToggle(300);
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        if ($(window).width() < '1024'){
            $(".events__filters-title").click(function (event) {
                $(".events__filters-title").not($(this)).removeClass("active");
                $(".events__filters-block").not($(this).next()).slideUp(300);
                $(this).toggleClass("active").next().slideToggle(300);
            });
        }
    });
</script>
<script>
    $(document).ready(function () {
        $(".question").click(function (event) {
            if ($(".faq__list").hasClass("faq__list--showoneitem")) {
                $(".question").not($(this)).removeClass("active");
                $(".answer").not($(this).next()).slideUp(300);
            }
            $(this).toggleClass("active").next().slideToggle(300);
        });
    });
</script>

<script>
    $(document).ready(function () {
        if ($(window).width() < '1024'){
            $("td.block__title").click(function (event) {
                if ($("tbody.block").hasClass("block--showoneitem")) {
                    $("td.block__title").not($(this)).removeClass("active");
                    $("td.block__text").not($(this).next()).slideUp(300);
                }
                $(this).toggleClass("active").next().slideToggle(300);
            });
        }
    });

</script>



<script src="js/script.js"></script>
<script src="js/modal.js"></script>
