$mobile-content-width: 290px;
$mobile-content-width-a: 90.62%;
$tablet-content-width: 720px;
$tablet-content-width-a: 96%;
$desktop-content-width: 1140px;
$desktop-content-width-a: 97.43%;

$mobile-width: 320px;
$tablet-width: 750px;
$desktop-width: 1170px;

$transition: 0.4s;


$black: #000000;
$company-color: #ee334f;
$company-color--pressing: #d01d37;
$company-color2: #0086ce;
$company-color2--pressing: #0074b2;

$btn-hover: $company-color--pressing;
$btn-active: $company-color--pressing;

