<section class="feedback page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Обратная связь</h2>
        <form class="form form--feedback">
            <div class="form__field form__field--theme">
                <select>
                    <option>Тема 1</option>
                    <option>Тема 2</option>
                    <option>Тема 3</option>
                </select>
            </div>
            <div class="form__field form__field--name">
                <input type="text" placeholder="Ваше имя *" name="username" value="" required>
            </div>
            <div class="form__field form__field--email">
                <input type="email" placeholder="E-mail *" name="useremail" value="" inputmode="email" required>
            </div>
            <div class="form__field form__field--message">
                <textarea rows="5" placeholder="Ваше сообщение"></textarea>
            </div>
            <button class="btn btn--main" type="submit">Отправить</button>
        </form>
    </div>
</section>