.languages {
  width: 40%;
  flex-grow: 1;

  @media (min-width: $lg-width) {
    order: 1;
    width: 190px;
  }

  & select {
    width: 100%;
    height: 35px;

    @media (min-width: $md-width) {
      height: 45px;
    }
  }
}