<section class="season-ticket page__section">
    <div class="page__wrap">
        <h2 class="page__subtitle">Абонементы</h2>
        <ul class="season-ticket__list">
            <li class="season-ticket__item">
                <a class="season-ticket__link" href="./price.html">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../season-ticket/for-museum-programs-767@1x.webp 1x,
            ../season-ticket/for-museum-programs-767@2x.webp 2x,
            ../season-ticket/for-museum-programs-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../season-ticket/for-museum-programs-767@1x.jpg 1x,
            ../season-ticket/for-museum-programs-767@2x.jpg 2x,
            ../season-ticket/for-museum-programs-767@3x.jpg 3x">
                            <img class="season-ticket__item-img" src="../season-ticket/for-museum-programs.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="season-ticket__title">
                        <span>Абонементы на музейные программы</span>
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
            <li class="season-ticket__item">
                <a class="season-ticket__link" href="#">
                    <div class="img">
                        <picture>
                            <source type="image/webp" srcset="
            ../season-ticket/for-exhibitions-767@1x.webp 1x,
            ../season-ticket/for-exhibitions-767@2x.webp 2x,
            ../season-ticket/for-exhibitions-767@3x.webp 3x">
                            <source type="image/jpeg" srcset="
            ../season-ticket/for-exhibitions-767@1x.jpg 1x,
            ../season-ticket/for-exhibitions-767@2x.jpg 2x,
            ../season-ticket/for-exhibitions-767@3x.jpg 3x">
                            <img class="season-ticket__item-img" src="../season-ticket/for-exhibitions.jpg" alt="">
                        </picture>
                    </div>

                    <h3 class="season-ticket__title">
                        <span>Абонементы на выставки/экспозиции</span>

                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </h3>
                </a>

            </li>
        </ul>
    </div>
</section>