<section class="museum-mariel">
    <div class="page__cover">
        <div class="blur"></div>
        <div class="img">
            <picture>
                <source type="image/webp" media="(min-width: 1024px)" srcset="
                            ../museum-mariel/cover-1920.webp,
                            ../museum-mariel/cover-1920@2x.webp 2x,
                            ../museum-mariel/cover-1920@3x.webp 3x">
                <source type="image/webp" srcset="
                            ../museum-mariel/cover-1023@1x.webp 1x,
                            ../museum-mariel/cover-1023@2x.webp 2x,
                            ../museum-mariel/cover-1023@3x.webp 3x">
                <source type="image/jpeg" media="(min-width: 1024px)" srcset="
                            ../museum-mariel/cover-1920.jpg 1x,
                            ../museum-mariel/cover-1920@2x.jpg 2x,
                            ../museum-mariel/cover-1920@3x.jpg 3x">
                <source type="image/jpeg" srcset="
                            ../museum-mariel/cover-1023@1x.jpg 1x,
                            ../museum-mariel/cover-1023@2x.jpg 2x,
                            ../museum-mariel/cover-1023@3x.jpg 3x">

                <img src="/../museum-mariel/cover.jpg" alt="Фото музея">
            </picture>
        </div>
    </div>
    <div class="page__head">
        <div class="page__wrap">
            <h1 class="page__head-title">Национальный музей Республики Марий Эл имени Тимофея Евсеева</h1>
            <div class="page__head-info">
                <ul class="museum-mariel__info-list">
                    <li class="museum-mariel__info-item"><span>Сегодня:</span> открыто с 10:00 до 18:00</li>
                    <li class="museum-mariel__info-item">г. Йошкар-Ола, ул. Эшкинина, д. 10 А</li>
                    <li class="museum-mariel__info-item"><a href=”tel:+78362347530”>(8362) 34-75-30</a>, <a href=”tel:+78362347532”>(8362) 34-75-32</a></li>
                    <li class="museum-mariel__info-item"><a href=”mailto:evseev-museum@mail.ru”>evseev-museum@mail.ru</a></li>
                </ul>
                <div class="museum-mariel__btn-wrap">
                    <a class="btn btn--main" href="#">Купить билет</a>
                    <a class="btn btn--secondary" href="#">
                        Выставки музея
                        <svg class="icon" width="20px" height="20px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <ul class="page__link-list">
                <li><a href="#">Обзор</a></li>
                <li><a href="#">Фото</a></li>
                <li><a href="#">Выставки</a></li>
                <li><a href="#">Мы на карте</a></li>
            </ul>
        </div>
    </div>
    <div class="page__content">
        <div class="page__wrap">
            <div class="page__text">
                <p>Национальный музей РМЭ им. Т. Евсеева создан 4 марта 1920 года, располагает уникальными коллекциями – более 228 тыс. единиц хранения. Самые ценные из них – Евсеевские коллекции (предметы марийского быта, костюмные комплексы, коллекции художественных произведений первых марийских художников 1920–1930-х годов), археологические коллекции по древнемарийской культуре VI−XIII вв.</p>

                <p>Коллекции представлены в экспозициях как богатейшее культурное наследие Марийского края. Сегодня об уникальной культуре народа мари рассказывает экспозиция «Обряды жизненного цикла. Традиционная культура народа мари XIX−XX веков» (календарные обряды, традиционные занятия мари, пчеловодство, охота, рыболовство, сельское хозяйство, ремесла, религиозные верования).</p>

                <p>Большой интерес представляет коллекция текстиля, включающая в себя национальные наряды марийцев, проживающих на территории Марийского края и соседних регионов, а также современные костюмы уральских, пермских, башкирских, кировских, свердловских марийцев.</p>

                <p>Многие посетители Национального музея наверняка помнят те красивые природные интерьеры, которые существовали в музее несколько десятков лет назад. На выставке «Тот самый музей» можно увидеть обновлённые завораживающие диорамы: «Лоси», «Поле», «Ельник», «Сосняк», «Река и её пойма», «Нагорная дубрава», рассмотреть типичных и редких животных и птиц. Также здесь вы можете увидеть открытые диорамы «Кабаны» и «Волки».</p>
            </div>
            <div class="page__slider">
                <div class="page__slider-wrap">
                    <div class="museum-mariel__gallery-wrap swiper">
                        <ul class="museum-mariel__gallery-list swiper-wrapper">
                            <li class="swiper-slide">
                                <a href="../museum-mariel/photo1.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                            ../museum-mariel/photo1-768@1x.webp 1x,
                            ../museum-mariel/photo1-768@2x.webp 2x,
                            ../museum-mariel/photo1-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                            ../museum-mariel/photo1-768@1x.jpg 1x,
                            ../museum-mariel/photo1-768@2x.jpg 2x,
                            ../museum-mariel/photo1-768@3x.jpg 3x">
                                            <img src="../museum-mariel/photo1.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="../museum-mariel/photo2.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                            ../museum-mariel/photo2-768@1x.webp 1x,
                            ../museum-mariel/photo2-768@2x.webp 2x,
                            ../museum-mariel/photo2-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                            ../museum-mariel/photo2-768@1x.jpg 1x,
                            ../museum-mariel/photo2-768@2x.jpg 2x,
                            ../museum-mariel/photo2-768@3x.jpg 3x">
                                            <img src="../museum-mariel/photo2.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                            <li class="swiper-slide">
                                <a href="../museum-mariel/photo3.jpg">
                                    <div class="img">
                                        <picture>
                                            <source type="image/webp" srcset="
                            ../museum-mariel/photo3-768@1x.webp 1x,
                            ../museum-mariel/photo3-768@2x.webp 2x,
                            ../museum-mariel/photo3-768@3x.webp 3x">
                                            <source type="image/jpeg" srcset="
                            ../museum-mariel/photo3-768@1x.jpg 1x,
                            ../museum-mariel/photo3-768@2x.jpg 2x,
                            ../museum-mariel/photo3-768@3x.jpg 3x">
                                            <img src="../museum-mariel/photo3.jpg" alt="">
                                        </picture>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="page__slider-buttons">
                    <button class="swiper-button-prev swiper-button-prev--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--mobile">
                        <svg class="icon" width="32px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-right"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-prev swiper-button-prev--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-left"></use>
                        </svg>
                    </button>
                    <button class="swiper-button-next swiper-button-next--desktop">
                        <svg class="icon" width="102px" height="16px" fill="none">
                            <use class="icon__symbol" xlink:href="#icon-long-arrow-desktop-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="page__content-info">
                <div class="museum-mariel__working-mode">
                    <h2 class="museum-mariel__subtitle">Режим работы музея</h2>
                    <ul class="museum-mariel__working-list">
                        <li><span>Пн</span> / Выходной</li>
                        <li><span>Вт-Вс</span> / 10:00 - 18:00</li>
                    </ul>
                </div>
                <div class="museum-mariel__price">
                    <h2 class="museum-mariel__subtitle">Билеты</h2>
                    <ul>
                        <li><span>150 ₽</span> / Взрослые</li>
                        <li><span>200 ₽</span> / С экскурсией</li>
                        <li><span>0, 100</span> ₽ / Льготные</li>
                        <li><span>150 ₽</span> / С экскурсией льготный</li>
                    </ul>
                </div>
                <div class="museum-mariel__visiting-rules">
                    <p class="museum-mariel__visiting-rules-title">
                        <a href="#">
                            Правила посещения музея
                            <svg class="icon" width="20px" height="20px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                            </svg>
                        </a>
                    </p>
                    <div class="museum-mariel__visiting-notes">
                        <p><span>Эта, а также другие выставки музея доступны для</span>
                            <a href="#">
                                людей с ограниченными возможностями здоровья&nbsp; <svg class="icon" width="20px" height="20px" fill="none">
                                <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
                            </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
