html
    head
        <link rel="stylesheet" href="css/style.min.css">
    body
        include blocks/section/section
        main.page
            h1 Привет!
            img(src="@img/cover.jpg")

        script(src='js/app.min.js')