.form--search {
  position: relative;

  & input[type="search"] {
    width: 100%;
    padding-left: 0;
    padding-right: 40px;
    border: none;
    border-bottom: 1px solid #DDDDDD;
    outline: none;

    &:hover,
    &:focus {
      border-bottom: 1px solid $secondary;
    }
  }

  & button[type="submit"] {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;

    @include btn-reset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: $transition;
    outline-color: $secondary;

    & .icon {
      width: 20px;
      height: 20px;
    }

    & use.icon__symbol {
      stroke: $dark-gray;
    }

    &:hover,
    &:focus {
      & use.icon__symbol {
        stroke: $secondary;
      }
    }
  }
}

.form--subscription {
  position: relative;

  & input[type="email"] {
    width: 100%;
    padding-right: 40px;
    background-color: $light;
    border: 1px solid #DDDDDD;
  }

  & button[type="submit"] {
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translateY(-50%);
    z-index: 5;

    background-color: $light;
    border: none;
    border-color: transparent;

    &:hover,
    &:focus {
      background-color: $gray;

      & use.icon__symbol {
        stroke: $light;
      }
    }

    & .icon {
      width: 20px;
      height: 20px;
    }

    & use.icon__symbol {
      stroke: $dark;
    }
  }
}

fieldset {
  @include mp();
  border: none;
}

input[type="search"],
input[type="email"],
input[type="date"] {
  box-sizing: border-box;
  @include mp();
  @include text-12;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  height: 44px;
  color: $dark-gray;
  transition: $transition;

  @media (min-width: $md-width) {
    @include text-normal;
    height: 45px;
  }

  &::placeholder {
    color: rgba($dark, 0.5);
  }
}

input[type="date"] {
  width: 100%;
  color: rgba($dark, 0.5);
  border: 1px solid #DDDDDD;
  transition: $transition;

  &:hover,
  &:focus,
  &:active {
    color: $dark;
    border-color: $secondary;
    outline: none;
    cursor: pointer;
  }

}

select {
  width: 100%;
  box-sizing: border-box;
  @include mp();
  @include text-12;
  display: inline-flex;
  align-items: center;
  color: rgba($dark, 0.5);
  height: 45px;
  padding: 10px 40px 10px 10px;
  border: 1px solid #DDDDDD;
  appearance: none;
  background-image: url("../icons/chevron-down-gray.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px 20px;
  transition: $transition;

  @media (min-width: $md-width) {
    @include text-normal;
    height: 45px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $dark;
    background-image: url("../icons/chevron-down-blue.svg");
    border-color: $secondary;
    outline: none;
    cursor: pointer;
  }
}




