<section class="museum-areas museum-areas--section page__section">
  <div class="museum-areas__head">
    <h2 class="page__subtitle">Музейные площадки</h2>
    <fieldset class="filter filter--select-museum-tags">
      <legend class="visually-hidden">Фильтр музейных площадок</legend>
      <select form="museum-type-filters">
        <option>Все</option>
        <option>Музей истории</option>
        <option>Башня</option>
        <option>Дом-музей</option>
      </select>
    </fieldset>
    <fieldset class="filter filter--tabs-museum-tags">
      <legend class="visually-hidden">Фильтр музейных площадок</legend>
      <div class="form__field">
        <input type="radio" id="all" name="museum-tags" checked="">
        <label for="all">Все</label>
      </div>
      <div class="form__field">
        <input type="radio" id="muzei-istorii" name="museum-tags">
        <label for="muzei-istorii">Музей истории</label>
      </div>
      <div class="form__field">
        <input type="radio" id="bashnya" name="museum-tags">
        <label for="bashnya">Башня</label>
      </div>
      <div class="form__field">
        <input type="radio" id="dom-muzei" name="museum-tags">
        <label for="dom-muzei">Дом-музей</label>
      </div>
    </fieldset>
    <form class="visually-hidden" id="museum-type-filters"></form>
  </div>
  <div class="page__wrap">
    <ul class="museum-areas__list">
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area1-767@1x.webp 1x,
            ../museum-areas/museum-area1-767@2x.webp 2x,
            ../museum-areas/museum-area1-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area1-767@1x.jpg 1x,
            ../museum-areas/museum-area1-767@2x.jpg 2x,
            ../museum-areas/museum-area1-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area1.jpg" alt="Национальный музей Республики Марий Эл им. Т. Евсеева">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Национальный музей Республики Марий Эл им. Т. Евсеева</h3>
            <p class="museum-area__about">В музее два экспозиционных зала: «Археология Марийского Поволжья: культура, народ, государство» и «Марийский край. Вехи истории».</p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00</li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Эшкинина, д. 10 А</li>
            </ul>

          </div>
          <svg class="icon" width="20px" height="20px" fill="none">
            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
          </svg>
        </a>
        
      </li>
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area2-767@1x.webp 1x,
            ../museum-areas/museum-area2-767@2x.webp 2x,
            ../museum-areas/museum-area2-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area2-767@1x.jpg 1x,
            ../museum-areas/museum-area2-767@2x.jpg 2x,
            ../museum-areas/museum-area2-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area2.jpg" alt="Музей истории и археологии">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Музей истории и археологии</h3>
            <p class="museum-area__about">В музее два экспозиционных зала: «Археология Марийского Поволжья: культура, народ, государство» и «Марийский край. Вехи истории».</p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 </li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Эшкинина, д. 10 А</li>
            </ul>

          </div>
          <svg class="icon" width="20px" height="20px" fill="none">
            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
          </svg>
        </a>
        
      </li>
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area3-767@1x.webp 1x,
            ../museum-areas/museum-area3-767@2x.webp 2x,
            ../museum-areas/museum-area3-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area3-767@1x.jpg 1x,
            ../museum-areas/museum-area3-767@2x.jpg 2x,
            ../museum-areas/museum-area3-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area3.jpg" alt="Благовещенская башня">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Благовещенская башня</h3>
            <p class="museum-area__about">На базе данной площадки проходят временные выставки молодых художников, студентов, фотографов, мастеров </p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 </li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, пл. Республики и Пресвятой Девы Марии, 1</li>
            </ul>

          </div>
          <svg class="icon" width="20px" height="20px" fill="none">
            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
          </svg>
        </a>        
      </li>
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area4-767@1x.webp 1x,
            ../museum-areas/museum-area4-767@2x.webp 2x,
            ../museum-areas/museum-area4-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area4-767@1x.jpg 1x,
            ../museum-areas/museum-area4-767@2x.jpg 2x,
            ../museum-areas/museum-area4-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area4.jpg" alt="Музей народно-прикладного искусства">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Музей народно-прикладного искусства</h3>
            <p class="museum-area__about">Одноэтажный деревянный дом с мезонином классического стиля, украшенный ажурной резьбой. Постройка датируется 1907 годом.</p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 </li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Чернышевского, д. 23</li>
            </ul>

          </div>
          <svg class="icon" width="20px" height="20px" fill="none">
            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
          </svg>
        </a>
        
      </li>
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area5-767@1x.webp 1x,
            ../museum-areas/museum-area5-767@2x.webp 2x,
            ../museum-areas/museum-area5-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area5-767@1x.jpg 1x,
            ../museum-areas/museum-area5-767@2x.jpg 2x,
            ../museum-areas/museum-area5-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area5.jpg" alt="Музей истории Православия Республики Марий Эл">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Музей истории Православия Республики Марий Эл</h3>
            <p class="museum-area__about">Экспозиция музея отражает историю православия на марийской земле в XVIII – нач. XX веков. </p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 9:00 до 18:00 </li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, Воскресенская набережная, д. 12</li>
            </ul>

          </div>
        </a>        
      </li>
      <li class="museum-areas__item museum-area">
        <a href="./museum-area.html" class="museum-areas__item-link">
          <picture>
            <source type="image/webp" srcset="
            ../museum-areas/museum-area6-767@1x.webp 1x,
            ../museum-areas/museum-area6-767@2x.webp 2x,
            ../museum-areas/museum-area6-767@3x.webp 3x">
            <source type="image/jpeg" srcset="
            ../museum-areas/museum-area6-767@1x.jpg 1x,
            ../museum-areas/museum-area6-767@2x.jpg 2x,
            ../museum-areas/museum-area6-767@3x.jpg 3x">
            <img class="museum-area__img" src="../museum-areas/museum-area6.jpg" alt="Дом-музей И.С.Ключникова-Палантая">
          </picture>
          <div class="museum-area__info">
            <h3 class="museum-area__title">Дом-музей И.С.Ключникова-Палантая</h3>
            <p class="museum-area__about">В Доме-музее бережно хранятся личные вещи, рукописи, предметы быта, мебель, музыкальные инструменты композитора.</p>
            <ul class="museum-area__info-list">
              <li class="museum-area__info-item museum-area__info-item--time">Сегодня: открыто с 10:00 до 18:00 </li>
              <li class="museum-area__info-item museum-area__info-item--address">г. Йошкар-Ола, ул. Л. Толстого, д. 25</li>
            </ul>

          </div>
          <svg class="icon" width="20px" height="20px" fill="none">
            <use class="icon__symbol" xlink:href="#icon-arrow-up-right"></use>
          </svg>
        </a>        
      </li>
    </ul>
  </div>
</section>
