p {
  background-color: black;
  color: $main;
}

@media  (max-width: 768px) {
  span {
    font-size: 16px;
  }

}

@media  (max-width: 768px) {
  body {
    background-color: #faebd7;
  }

}

.test {
  background: url("sprite.svg#section--icon-telegtam") no-repeat;
}

.test .icon {
  width: 20px;
  height: 20px;
  fill: #d01d37;
}

.section__block {
  width: 350px;
  height: 350px;
  background-color: lightgray;
  margin: 0 auto 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../section/sangel-250.jpg");

  @media (-webkit-min-device-pixel-ratio: 1.02), (min-resolution: 97.92dpi), (min-resolution: 1.02dppx) {
      background-image: url("../section/sangel-250$2.jpg");
      background-size: 100% auto;
  }
  @media (-webkit-min-device-pixel-ratio: 2.02), (min-resolution: 193.92dpi), (min-resolution: 2.02dppx) {
      background-image: url("../section/sangel-250$3.jpg");
      background-size: 100% auto;
  }
  @media (min-width: 750px) {
      width: 37.6%;
      background-image: url("../section/sangel-350.jpg");
  }
  @media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 1.02), (min-width: 750px) and (min-resolution: 97.92dpi), (min-width: 750px) and (min-resolution: 1.02dppx) {
      background-image: url("../section/sangel-350$2.jpg");
      background-size: 100% auto;

  }

  @media (min-width: 750px) and (-webkit-min-device-pixel-ratio: 2.02), (min-width: 750px) and (min-resolution: 193.92dpi), (min-width: 750px) and (min-resolution: 2.02dppx) {
      background-image: url("../section/sangel-350$3.jpg");
      background-size: 100% auto;
  }
}

