p {
  background-color: black;
  color: $company-color--pressing;
}

@media  (max-width: 768px) {
  span {
    font-size: 16px;
  }

}

@media  (max-width: 768px) {
  body {
    background-color: #faebd7;
  }

}

.test {
  background: url("sprite.svg#section--icon-telegtam") no-repeat;
}

.test .icon {
  width: 20px;
  height: 20px;
  fill: #d01d37;
}

.section__block {
  width: 350px;
  height: 350px;
  background-color: lightgray;
  margin: 0 auto 50px;
  background-image: url("../section/sangel-350x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

