<ul class="social__list">
  <li class="social__item">
    <a class="social__item-link" href="#" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="icon" width="20px" height="20px" fill="none">
        <use class="icon__symbol" xlink:href="#icon-vk"></use>
      </svg>
      <span class="visually-hidden">Вконтакте</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__item-link" href="#" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="icon" width="20px" height="20px" fill="none">
        <use class="icon__symbol" xlink:href="#icon-ok"></use>
      </svg>
      <span class="visually-hidden">Одноклассники</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__item-link" href="#" target="_blank" rel="noopener noreferrer nofollow">
      <svg class="icon" width="20px" height="20px" fill="none">
        <use class="icon__symbol" xlink:href="#icon-telegram"></use>
      </svg>
      <span class="visually-hidden">Телеграм</span>
    </a>
  </li>
</ul>
